<div class="mainContainer aerospace" style="background-color:#F9E5B3;">
    <div class="row headerImage">
        <img src="images/markets_aerospace/CapsonicAerospace_header-1170x353.jpg">
    </div>
    <div class="container">
        <h1>Aerospace &amp; Military</h1>
        <div class="row">
            <div class="col-sm-7">
                <p>
                    Capsonic is a Manufacturer of highly precise, stringently controlled, Aerospace and Military Products, included in many Passenger, Pilot, and Power Related system applications.</p>
                <p>
                    <b>The Capsonic Advantage:</b> <i>We apply our years of experience in High Volume, Quality-proven, manufacturing techniques to the lower volume applications of this market – <span style="text-decoration: underline;">result being lower cost, more robust processes at Launch, rather than in later stages of program</span>. Since we also produce a large Diversity of Product Types, most Capsonic customers broaden the number and types of Products they buy from Capsonic in order to maximize the scope of their total IMPROVEMENT Return</i>.</p>
                <p>
                    Capsonic’s customers in these markets include those that design and control the products procured by them (<b>build-to-print</b>), and those that rely upon Capsonic’s technical teams to <b>Design and Develop</b> Products to functional specifications outlined by the Customers (or their customers). Capsonic is experienced in supporting all types of fixed-Design and open-Design Products.</p>
                <p>
                    Our processes are additionally applied to <b>Repair &amp; Rewind/Refurbish</b> contracts for certain parts, including those requiring FAA certification.Capsonic has a well developed and trained supply chain supporting all commodities needed for products in these markets.</p>
                <p>
                    Our Web-based Business-to-Business system provides common and efficient interface with all suppliers, across all end uses, for material schedules, forecasts, quality concerns, and continuous improvement. We are actively involved in continuous improvement throughout our supply chain, and are engaged to the very beginning of the raw material journey, in order to make sure all opportunities to improve cost or quality are identified.</p>
            </div>
            <div class="col-sm-5">
                <div id="slider" style="width:100%;">
                    <img ng-src="images/markets_aerospace/slideshow/Aircraft-Service-Lamp (Mobile).jpg" alt="" />
                    <img ng-src="images/markets_aerospace/slideshow/Armature-3 (Mobile).jpg" alt="" />
                    <img ng-src="images/markets_aerospace/slideshow/Full-Plane-black-lettering (Mobile).jpg" alt="" />
                    <img ng-src="images/markets_aerospace/slideshow/Honeywell-Magnetized-Machined-Rotor (Mobile).jpg" alt="" />
                    <img ng-src="images/markets_aerospace/slideshow/Honeywell-Stator-21 (Mobile).jpg" alt="" />
                    <img ng-src="images/markets_aerospace/slideshow/slider1 (Mobile).png" alt="" />
                    <img ng-src="images/markets_aerospace/slideshow/slider7 (Mobile).png" alt="" />
                    <img ng-src="images/markets_aerospace/slideshow/Stack-2711801-11 (Mobile).jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="container" style="max-width:800px;">
            <div class="row">
                <div class="col-sm-12">
                    <h5>Our customers:</h5>
                    <div class="owl-carousel owl-theme">
                        <img class="img-thumbnail" ng-src="images/markets_aerospace/bell.png">
                        <img class="img-thumbnail" ng-src="images/markets_aerospace/honeywell.png">
                        <img class="img-thumbnail" ng-src="images/markets_aerospace/labinal.png">
                        <img class="img-thumbnail" ng-src="images/markets_aerospace/safran.png">
                        <img class="img-thumbnail" ng-src="images/markets_aerospace/zodiac.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
