<div class="mainContainer automotive" style="background-color:#E5F5C6;">
    <div class="row headerImage">
        <img src="images/markets_automotive/CA2-Auto-Header-1-Custom-1170x353.png">
    </div>
    <div class="container">
        <h1>Automotive</h1>
        <div class="row">
            <div class="col-sm-7">
                <p>
                    Capsonic is a long-established Producer of Electrical / Mechanical / Lighting Products for the Automotive industry. Since its formulation in 1996 (and before that by its constituent companies) has expanded the product content that it provides.
                </p>
                <p>
                    The many vehicle systems and sub-systems that Capsonic products are included in (see graphic) are a testimony to the robustness of the parts produced, and also to the broad applicability of our “Fusion” concepts to a wide range of successful Products.
                </p>
                <p>
                    <b>The Capsonic Advantage:</b><i> We cross pollinate our technologies, applied and proven in other stringent markets like Aerospace and Military, with our years of experience in High Volume, Quality-proven, manufacturing techniques – <span style="text-decoration: underline;">result being robust, lower cost, SOLUTIONS for Customers’ most intractable applications</span>. Since we also produce a large Diversity of Product Types, we can design/develop/tool/launch a Comprehensive solution – not just one part of it – for the life of platform/system, including Continuous IMPROVEMENT Activities.</i>
                </p>
                <p>
                    Capsonic’s customers in these markets include those that design and control the products procured by them (<b>Build-to-Print</b>), and those that rely upon Capsonic’s technical teams to <b>Design and Develop</b> Products to functional specifications outlined by the Customers (<small>or their customers</small>) – “Black Box” or “Grey Box” applications. Our beyond-APQP, Product Launch Process (PLP), and our control of all aspects of the Product Cycle <small>[Concept, Prototype, Testing, Tooling, Validation, PPAP, Launch, Improvement, Service, Obsoleting] </small>allow us to provide a strain-free supply experience to our customers.
                </p>
                <p>
                    Beyond Launch, Capsonic is Best-In-Class for its customer reported Quality and Delivery (<small>see the Capabilities Section for more on each</small>) to ALL its Automotive Customers. We have also chosen to selectively vertically integrate key processes that make sense to control internally for cost, quality, or intellectual property reasons.
                </p>
                <p>
                    Capsonic has a well developed and trained supply chain supporting all commodities needed for products in these markets. Our Web-based Business-to-Business system provides common and efficient interface with all suppliers, across all end uses, for material schedules, forecasts, and quality concerns. The commonality of this system forms the basis of our focus on <b>Continuous Improvement</b>.
                </p>
            </div>
            <div class="col-sm-5">
                <div id="slider">
                    <img style="background-color:white;" ng-src="images/markets_automotive/slideshow/auto1.png" alt="" />
                    <img style="background-color:white;" ng-src="images/markets_automotive/slideshow/auto2.jpg" alt="" />
                    <img style="background-color:white;" ng-src="images/markets_automotive/slideshow/auto3.jpg" alt="" />
                    <img style="background-color:white;" ng-src="images/markets_automotive/slideshow/auto4.jpg" alt="" />
                    <img style="background-color:white;" ng-src="images/markets_automotive/slideshow/auto5.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="container" style="max-width:800px;">
            <div class="row">
                <div class="col-sm-12">
                    <h5>Our customers:</h5>
                    <div class="owl-carousel owl-theme">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/bosch.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/chrysler.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/continental2.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/delphi.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/denso.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/eaton.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/ford.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/freightliner.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/gm.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/lear.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/logos.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/nexteer.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/siemens.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/toyoda.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/trqss.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/trw.png">
                        <img class="img-thumbnail" ng-src="images/markets_automotive/yazaki.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
