<div class="mainContainer aerospace" style="background-color:#F5F5F5;">
    <div class="row headerImage">
        <img src="images/quality/Quality-Header-pic-4-Custom-1170x353.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Quality and Delivery</h1>
                <h3>Capsonic maintains 100% On Time in Full [OTIF] to Automotive Production Customers</h3>
                <p>
                    We have been given the Delphi Pinnacle award for quality excellence. We have maintained Ford Q1 and GM Targets for Excellence certifications for many years. We are a preferred supplier to Safran Power Systems Division of Labinal Aerospace and an OEM/Reman provider to Military customers.
                </p>
                <p>
                    Over 90% of our products are produced at <b><span style="text-decoration: underline;">0 PPM levels, spanning all Markets</span></b>. Our Average yearly Total customer-reported PPM over the last 4 years has been better than 3 PPM . Design for Quality and cross functional participation in the Product Design/Manufacturing Process Design Process has been key to continuous production of quality product.</p>
                <p>Our Quality record in Resource and Transfer business is one major reason why manufacturers trust Capsonic. <b><i>After-Transfers average improvement in Quality is &gt;300%, improvement in Costs have been &gt;50%, and improvement in Delivery has been &gt;75%</i></b>. We have performed emergency transfers for Automotive OEM customers over a weekend, including component tool moves. The standing capital processes that Capsonic maintains inside its own facility provide the basis to switch over sources/processes that are typically long lead items within a very short period of time.
                </p>
                <h4>Certifications:</h4>
                <ul class="templateList2">
                    <li>Automotive – TS 16949</li>
                    <li>Aerospace – AS9100</li>
                    <li>International – ISO 9001</li>
                    <li>Environmental – 14001</li>
                    <li>Process – NADCAP</li>
                    <li>Military Export – US State Dept ITAR</li>
                    <li>Homeland Security – C-TPAT Certified</li>
                    <li>Minority – NMSDC, CMBDC</li>
                </ul>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <light-gallery>
                    <a ng-href="images/capabilities/quality/addl-manf-capab-pic.jpg" class="col-sm-4 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/quality/addl-manf-capab-pic-370x200.jpg" />
                    </a>
                    <a ng-href="images/capabilities/quality/EOL-n-IP-Wire-Testing-Systems-1-.jpg" class="col-sm-4 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/quality/EOL-n-IP-Wire-Testing-Systems-1--370x200.jpg" />
                    </a>
                    <a ng-href="images/capabilities/quality/EOL-n-IP-Wire-Testing-Systems-2.jpg" class="col-sm-4 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/quality/EOL-n-IP-Wire-Testing-Systems-2-370x200.jpg" />
                    </a>
                    <a ng-href="images/capabilities/quality/IMG_0036.jpg" class="col-sm-4 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/quality/IMG_0036-370x200.jpg" />
                    </a>
                    <a ng-href="images/capabilities/quality/IMG_0066.jpg" class="col-sm-4 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/quality/IMG_0066-370x200.jpg" />
                    </a>
                    <a ng-href="images/capabilities/quality/Quality-Pic.jpg" class="col-sm-4 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/quality/Quality-Pic-370x200.jpg" />
                    </a>
                </light-gallery>
            </div>
        </div>
    </div>
</div>
