<div class="mainContainer aerospace" style="background-color:#F5F5F5;">
    <div class="row headerImage">
        <img src="images/manufacturing/Mfg-Header-Page-Custom-1170x353.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Manufacturing</h1>
                <p>
                    Capsonic takes pride in the process expertise we maintain in order to <b>match the optimal manufacturing system for the product application</b> – from fully automated systems which fabricate millions of parts per year, to manually assembled “one piece flow” products for complicated low volume aerospace and military products. We create customized in-process and End of Line testing systems to function check ALL of our manufactured product prior to packaging and shipment. We utilize concepts of Lean Manufacturing, 5S, Toyota Manufacturing System, Six Sigma, and Kaizen in our production setting. Metric for all product lines are tabulated, visibly displayed, and reviewed with all product line associates during daily “Quality Walks” in order to address variation and promote <span style="text-decoration: underline;">Continuous Improvement</span>.
                </p>
                <ul class="templateList">
                    <li>Internal Capabilities:
                        <ul>
                            <li>Manufacturing Automation Design/Development</li>
                            <li>Full Tool Room</li>
                            <li>High &amp; Low Volume Lean Manufacturing</li>
                        </ul>
                    </li>
                    <li>Vertical Integration:
                        <ul>
                            <li>Insert/Over Molding (4-5 Presses; Future Expansion Plan in place to support higher level Assemblies)</li>
                            <li>Minor Forming Presses</li>
                            <li>Automated Wire Processing (5 Komax Centers)</li>
                            <li>Turning, Balancing, CNC Machining</li>
                            <li>Brazing &amp; Minor Static Welding</li>
                            <li>Printed Graphics and Laser Etching</li>
                            <li>Assemblies using PCBA / Electronics</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <h2>Automotive</h2>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <light-gallery>
                    <a ng-href="images/capabilities/manufacturing/100_9916.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/100_9916-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/103_8462.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/103_8462-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/DSC00017.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/DSC00017-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/June-2014-045.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/June-2014-045-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/June-2014-051.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/June-2014-051-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/June-2014-052.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/June-2014-052-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/June-2014-054.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/June-2014-054-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/June-2014-055.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/June-2014-055-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/Potting-and-Curing-Line-6.png" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/Potting-and-Curing-Line-6-170x100.png" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/June-2014-069.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/June-2014-069-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/Wire-Boards.png" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/Wire-Boards-170x100.png" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/HPIM0988.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/HPIM0988-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/Komax.png" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/Komax-170x100.png" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/EOL-n-IP-Wire-Testing-Systems-21.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/EOL-n-IP-Wire-Testing-Systems-21-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/103_8509.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/103_8509-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/June-2014-095.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/June-2014-095-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/June-2014-066.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/June-2014-066-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/June-2014-064.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/June-2014-064-170x100.jpg" />
                    </a>
                </light-gallery>
            </div>
        </div>
        <br>
        <h2>Aerospace</h2>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <light-gallery>
                    <a ng-href="images/capabilities/manufacturing/aerospace/Aero-Mfg-pic.png" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/aerospace/Aero-Mfg-pic-170x100.png" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/aerospace/June-2014-050.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/aerospace/June-2014-050-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/aerospace/Edge-Winding-Station-2.png" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/aerospace/Edge-Winding-Station-2-170x100.png" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/aerospace/June-2014-091-Copy.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/aerospace/June-2014-091-Copy-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/aerospace/June-2014-106-1.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/aerospace/June-2014-106-1-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/aerospace/June-2014-086_balancer.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/aerospace/June-2014-086_balancer-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/aerospace/June-2014-109.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/aerospace/June-2014-109-170x100.jpg" />
                    </a>
                    <a ng-href="images/capabilities/manufacturing/aerospace/June-2014-079.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/capabilities/manufacturing/aerospace/June-2014-079-170x100.jpg" />
                    </a>
                </light-gallery>
            </div>
        </div>
    </div>
</div>
