<style type="text/css">
h6 {
  font-weight: bold;
  font-size: 12px;
}

li {
  font-size: 11px;
}

ul {
  padding-left: 15px;
}

</style>
<div class="mainContainer aerospace" style="background-color:#F5F5F5;">
  <div class="row headerImage">
    <img src="images/locations/Locations-Header-Pic-4-Custom-1170x353.jpg">
  </div>
  <div class="container">
    <h1>Locations</h1>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <h6>Sales and Customer Support Office</h6>
        <h6>3121 University Drive, Suite 120</h6>
        <h6>Auburn Hills, MI  48326</h6>
        <h6>(248) 754-1100</h6>
        <ul>
          <li>Executive Staff, Issuance Point of Contracts</li>
          <li>Advanced Purchasing</li>
          <li>Sales</li>
          <li>SQE</li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6">
        <light-gallery>
          <a ng-href="images/locations/Auburn-Hills-Sales-Office-Location.jpg" class="col-sm-12 col-xs-12" data-sub-html="<p></p>">
                        <img class="hvr-border-fade" style="width:100%;height:auto;padding:5px;max-width: 160px;" ng-src="images/locations/Auburn-Hills-Sales-Office-Location-150x150.jpg" />
                    </a>
        </light-gallery>
      </div>
      <div class="col-sm-7 col-xs-12">
        <div id="mapAuburnHills" style="height:200px;border:solid #C7BFBF 2px;"></div>
      </div>
    </div>
    <div style="height:50px;"></div>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <h6>Technical Center</h6>
        <h6>1595 High Point Drive</h6>
        <h6>Elgin, IL 60123</h6>
        <h6>(847) 888-0930</h6>
        <ul>
          <li>Design Engineering</li>
          <li>Testing</li>
          <li>Sales</li>
          <li>Limited, Specialty Manufacturing</li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6">
        <light-gallery>
          <a ng-href="images/locations/Elgin-Technical-Center.jpg" class="col-sm-12 col-xs-12" data-sub-html="<p></p>">
                        <img class="hvr-border-fade" style="width:100%;height:auto;padding:5px;max-width: 160px;" ng-src="images/locations/Elgin-Technical-Center-150x150.jpg" />
                    </a>
        </light-gallery>
      </div>
      <div class="col-sm-7 col-xs-12">
        <div id="mapElgin" style="height:200px;border:solid #C7BFBF 2px;"></div>
      </div>
    </div>
    <div style="height:50px;"></div>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <h6>Old Distribution & Manufacturing</h6>
        <h6>12120 Esther Lama Drive</h6>
        <h6>Suite 120, Building 2</h6>
        <h6>El Paso, TX 79936</h6>
        <ul>
          <li>Logistics</li>
          <li>Warehouse</li>
          <li>Sales</li>
          <li>Limited, Specialty Manufacturing</li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6">
        <light-gallery>
          <a ng-href="images/locations/El-Paso-Distribution-Facility.jpg" class="col-sm-12 col-xs-12" data-sub-html="<p></p>">
                        <img class="hvr-border-fade" style="width:100%;height:auto;padding:5px;max-width: 160px;" ng-src="images/locations/El-Paso-Distribution-Facility-150x150.jpg" />
                    </a>
        </light-gallery>
      </div>
      <div class="col-sm-7 col-xs-12">
        <div id="mapElPaso" style="height:200px;border:solid #C7BFBF 2px;"></div>
      </div>
    </div>
    <div style="height:50px;"></div>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <h6>New Distribution Center</h6>
        <h6>7 Zane Grey St</h6>
        <h6></h6>
        <h6>El Paso, TX</h6>
        <ul>
          <!-- <li>????????</li> -->
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6">
        <!-- <light-gallery>
                    <a ng-href="images/locations/El-Paso-Distribution-Facility.jpg" class="col-sm-12 col-xs-12" data-sub-html="<p></p>">
                        <img class="hvr-border-fade" style="width:100%;height:auto;padding:5px;max-width: 160px;" ng-src="images/locations/El-Paso-Distribution-Facility-150x150.jpg" />
                    </a>
                </light-gallery> -->
      </div>
      <div class="col-sm-7 col-xs-12">
        <div id="mapElPasoSevenZaneGrey" style="height:200px;border:solid #C7BFBF 2px;"></div>
      </div>
    </div>
    <div style="height:50px;"></div>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <h6>Manufacturing Center</h6>
        <h6>Av. Hermanos Escobar 6551</h6>
        <h6>Parque Ind. Magnaplex</h6>
        <h6>Cd. Juárez, Chih 32320</h6>
        <ul>
          <li>Manufacturing</li>
          <li>Purchasing</li>
          <li>Sales</li>
          <li>Quality</li>
        </ul>
      </div>
      <div class="col-sm-2 col-xs-6">
        <light-gallery>
          <a ng-href="images/locations/Juarez-Manufacturing-Facility.jpg" class="col-sm-12 col-xs-12" data-sub-html="<p></p>">
                        <img class="hvr-border-fade" style="width:100%;height:auto;padding:5px;max-width: 160px;" ng-src="images/locations/Juarez-Manufacturing-Facility-150x150.jpg" />
                    </a>
        </light-gallery>
      </div>
      <div class="col-sm-7 col-xs-12">
        <div id="mapJuarez" style="height:200px;border:solid #C7BFBF 2px;"></div>
      </div>
    </div>
  </div>
</div>
