<style type="text/css">
.titleAnimated,
.titleAnimated:hover {
    position: absolute;
    color: white;
    font-size: 27px;
    background-color: transparent;
    text-shadow: #fff 0 0 10px;
    cursor: pointer;
    text-decoration: none;
}
</style>
<div class="mainContainer home">
    <div class="row headerImage">
        <img id="imgHeaderOne" style="bottom:20px;" ng-src="images/home/header/Capsonic_Auto_Aero_header-7-FINAL.jpg">
        <img id="imgHeaderTwo" ng-src="images/home/header/RUFF5_grey-scaled.jpg">
        <div id="divBorderParts" style="position:absolute;bottom:0;z-index:2;"><img id="imgBorderParts" ng-src="images/home/header/parts-border-7.jpg"></div>
        <div class="hidden-xs" style="position:absolute;width:50%;color:white;bottom:250px;right:20px;z-index:1;">
            <a class="titleAnimated" href="" ng-href="#/products_wire" style="left:3%;top:-20px;">Wire Harness</a>
            <a class="titleAnimated" href="" ng-href="#/products_lighting" style="left:40%;top:5px;">Lighting</a>
            <a class="titleAnimated" href="" ng-href="#/products_sensors" style="left:78%;top:10px;">Sensors</a>
            <a class="titleAnimated" href="" ng-href="#/products_motors" style="left:15%;top:60px;">Motor/Power Generation</a>
            <a class="titleAnimated" href="" ng-href="#/products_switches" style="left:2%;top:85px;">Switches</a>
            <a class="titleAnimated" href="" ng-href="#/products_actuator" style="left:58%;top:40px;">Actuators</a>
            <a class="titleAnimated" href="" ng-href="#/products_solenoids" style="left:70%;top:90px;">Solenoids</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p><b>Capsonic Automotive and Aerospace is a Manufacturer of High Quality end item Electromechanical Assemblies serving the Automotive, Aerospace, Heavy Truck, and Military Markets. CA2 has been recognized as Best in Class for Product Quality (Production &amp; Service) &amp; Best in Class for Delivery (Automotive Production &amp; Service). 
                </b></p>
                <p>Capsonic is committed to providing Overall Program Affordability where tangible value will be realized through</p>
                <ul class="templateList">
                    <li>Superior quality, zero/low PPM program orders</li>
                    <li>Technically superior products</li>
                    <li>Proven track record of OTIF shipments</li>
                    <li>Complete program support throughout product life cycle</li>
                    <li>Customer service orientation throughout organization </li>
                </ul>
                <p>This goal is achieved through the <b>Power of Capsonic Fusion.</b></p>
            </div>
            <div class="col-sm-4">
                <h3>CERTIFICATIONS</h3>
                <p>Capsonic Companies is a privately held, minority certified, veteran-owned company with the following certifications:</p>
                <ul class="templateList">
                    <li>Automotive – IATF 16949 </li>
                    <li>Aerospace – AS9100 </li>
                    <li>International – ISO 9001 </li>
                    <li>Environmental – ISO 14001</li>
                    <li>Process – NADCAP </li>
                    <li>Military Export – US State Dept ITAR </li>
                    <li>Homeland Security - C-TPAT Certified</li>
                    <li>Minority – NMSDC, CMBDC</li>
                    <li>Veteran - NVBDC</li>
                </ul>
                <p><img ng-src="images/home/VOB_Badge-2015.jpg" class="img-thumbnail center-block"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>CAPSONIC FUSION</h3>
                <label>Click on elements to see the description:</label>
            </div>
        </div>
        <div class="row fusion-tab">
            <div class="col-md-5 col-sm-6" style="padding:0;background-color: #B7B7B7;">
                <div class="tabbable center-block" ng-init="activeTab='Powerful'" style="min-width:375px;">
                    <a href="" ng-click="activeTab='Powerful'" style="top: 143px;left: 95px;font-size: 14px;color: #000;width: 200px;">Powerful Value</a>
                    <a href="" ng-click="activeTab='Technology'" style="top: 45px;left: 33px;">TECHNOLOGY &amp; INNOVATION</a>
                    <a href="" ng-click="activeTab='ValueStream'" style="top: 46px;left: 252px;">OPTIMAL GLOBAL VALUE STREAM</a>
                    <a href="" ng-click="activeTab='Controls'" style="top: 219px;left: 32px;">EXPERIENCE BASED CONTROLS</a>
                    <a href="" ng-click="activeTab='Locations'" style="top: 212px;left: 246px;">MULTIPLE MANUFACTURING LOCATIONS &amp; CAPABILITIES</a>
                </div>
            </div>
            <div class="col-md-7 col-sm-6">
                <div class="fusion-tab-content">
                    <div class="fusion-tab-pane" ng-show="activeTab=='Powerful'">
                        <h4></h4>
                        <div class="container-fluid">
                            <table style="width: 100%;height: 240px;">
                                <tbody>
                                    <tr>
                                        <td style="vertical-align:middle;">
                                            <h4>Powerful Value</h4>
                                            <ul>
                                                <p>Combining all the Key Business Elements under the Best Operational Controls creating a Powerful Source of Energy for your Value Stream.</p>
                                                <p>It’s not just one thing – it is providing the <i>right combination</i> of things with the <i>right focus</i> that creates the <b>Power of Capsonic Fusion!</b></p>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="fusion-tab-pane" ng-show="activeTab=='Technology'">
                        <h4></h4>
                        <p></p>
                        <div class="container-fluid">
                            <table style="width: 100%;height: 230px;">
                                <tbody>
                                    <tr>
                                        <td style="vertical-align:middle;">
                                            <h4>Technology &amp; Innovation</h4>
                                            <ul>
                                                <li>Capsonic invests in resources that advance products &amp; processes in efficiency and innovation, driving assembled products to surpass industry standards.
                                                    <br>
                                                    <br>
                                                </li>
                                                <li>Manufacturing experts are engaged in every step of the process from initial quote to program end, ensuring the program remains technically and economically sound throughout.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p></p>
                    </div>
                    <div class="fusion-tab-pane" ng-show="activeTab=='ValueStream'">
                        <h4></h4>
                        <div class="container-fluid">
                            <table style="width: 100%;height: 230px;">
                                <tbody>
                                    <tr>
                                        <td style="vertical-align:middle;">
                                            <h4>Optimal Global Value Stream</h4>
                                            <p>By engaging our whole value stream in constant process/product improvements, Capsonic instills innovation and collaboration in every stage of product development.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="fusion-tab-pane" ng-show="activeTab=='Controls'">
                        <h4></h4>
                        <p></p>
                        <div class="container-fluid">
                            <table style="width: 100%;height: 239px;">
                                <tbody>
                                    <tr>
                                        <td style="vertical-align:middle;">
                                            <h4>Experienced Based Controls in Process, Product and Business</h4>
                                            <ul>
                                                <li>Cumulating years of multi-disciplined expertise and precise execution, Capsonic delivers products within the tightest of tolerances.
                                                    <br>
                                                    <br>
                                                </li>
                                                <li>0.90 PPM; 98% of Product Lines at 12mo PPM = 0.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p></p>
                    </div>
                    <div class="fusion-tab-pane" ng-show="activeTab=='Locations'">
                        <h4></h4>
                        <p></p>
                        <div class="container-fluid">
                            <table style="width: 100%;height: 239px;">
                                <tbody>
                                    <tr>
                                        <td style="vertical-align:middle;">
                                            <h4>Multiple Manufacturing Locations and Capabilities</h4>
                                            <ul>
                                                <li>Cost-effective and Reliable assemblies result from the breadth of capabilities available to match the optimal manufacturing process with the complexity &amp; volume of our customer’s program.
                                                    <br>
                                                    <br>
                                                </li>
                                                <li>Capsonic offers flexibility and responsiveness to partners with our multiple manufacturing locations.</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <br>
                <label class="center-block keyword text-center">See the Power of Fusion...</label>
            </div>
        </div>
    </div>
</div>
