<div class="mainContainer products" style="background-color:#F5F5F5;">
    <div class="row headerImage">
        <img src="images/products/Product-Technologies-header-pic-132-1170x353.png">
    </div>
    <div class="container">
        <h1>Product Technologies</h1>
        <div class="row">
            <div class="col-sm-4">
                <div id="accordionWire">
                    <a ng-href="#/products_wire" class="btn btn-primary btn-lg btn-block" style="height: 45px;font-size: 17px;padding: 10px 0;">Wire Harness Product Information</a>
                    <div style="height:100%;">
                        <div class="row">
                            <div class="col-sm-12">
                                <light-gallery>
                                    <a ng-href="images/products/wire/Wire-Harness-Connections.jpg" class="col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Wire Harness Connections</p>">
                                        <img style="width:100%;height:auto;" ng-src="images/products/wire/Wire-Harness-Connections-170x200.jpg" />
                                    </a>
                                    <a ng-href="images/products/wire/Transmission-Wire-Harnesses.jpg" class="col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Transmission Wire Harness</p>">
                                        <img style="width:100%;height:auto;" ng-src="images/products/wire/Transmission-Wire-Harnesses-170x200.jpg" />
                                    </a>
                                </light-gallery>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>Stand Alone &amp; Part Of Assemblies
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Safety Critical Harnesses</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Overmolded Harnesses</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Fuel & Oil Systems-Compatible Products</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Ribbon Cable Capability</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Braided Cable Capability</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Multi-branch Harnesses</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <b>Applications</b>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <div id="accordionActuators">
                    <a ng-href="#/products_actuator" class="btn btn-primary btn-lg btn-block" style="height:45px;font-size:17px;padding: 10px 0;">Actuators Product Information</a>
                    <div style="height:100%;">
                        <div class="row">
                            <div class="col-sm-12">
                                <light-gallery>
                                    <a ng-href="images/products/actuators/Actuator-AIS-Stand-Alone.jpg" class="col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Actuator AIS Stand Alone</p>">
                                        <img style="width:100%;height:auto;" ng-src="images/products/actuators/Actuator-AIS-Stand-Alone-170x200.jpg" />
                                    </a>
                                    <a ng-href="images/products/actuators/Actuator.jpg" class="col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Actuator</p>">
                                        <img style="width:100%;height:auto;" ng-src="images/products/actuators/Actuator-170x200.jpg" />
                                    </a>
                                </light-gallery>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>Latching and Locking
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Multi-State</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Proportional</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Motion Control with positional feedback</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Multi-functional Activations</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Linear and Rotational and mixed</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <b>Applications</b>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <div id="accordionSwitches">
                    <a ng-href="#/products_switches" class="btn btn-primary btn-lg btn-block" style="height:45px;font-size:17px;padding: 10px 0;">Switches Product Information</a>
                    <div style="height:100%;">
                        <div class="row">
                            <div class="col-sm-12">
                                <light-gallery>
                                    <a ng-href="images/products/switches/Multi-function-Switches-3.jpg" class="col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Multi Function Switch</p>">
                                        <img style="width:100%;height:auto;" ng-src="images/products/switches/Multi-function-Switches-3-170x200.jpg" />
                                    </a>
                                    <a ng-href="images/products/switches/Toggle-Switches.jpg" class="col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Toggle Switch</p>">
                                        <img style="width:100%;height:auto;" ng-src="images/products/switches/Toggle-Switches-170x200.jpg" />
                                    </a>
                                </light-gallery>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>Low Current & High Current</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Micro-Switch & Tact Switch</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Switch Cell technology</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Contact & Non-Contact</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Class A Decorative Surface Processing</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Ergonomic & Hidden</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>PCB-Based Switches & Contacts</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Wiring Integrated (direct & connection)</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <b>Applications</b>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div id="accordionMotors">
                    <a ng-href="#/products_motors" class="btn btn-primary btn-lg btn-block" style="height:45px;font-size:17px;padding: 10px 0;">Motors Product Information</a>
                    <div style="height:100%;">
                        <div class="row">
                            <div class="col-sm-12">
                                <light-gallery>
                                    <a ng-href="images/products/motors/Aerospace-Motor-Products-Stator-and-Armature.jpg" class="col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Aerospace Motor Products Statos And Armature</p>">
                                        <img style="width:100%;height:auto;" ng-src="images/products/motors/Aerospace-Motor-Products-Stator-and-Armature-170x200.jpg" />
                                    </a>
                                    <a ng-href="images/products/motors/Motors.jpg" class="col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Motors</p>">
                                        <img style="width:100%;height:auto;" ng-src="images/products/motors/Motors-170x200.jpg" />
                                    </a>
                                </light-gallery>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>Brush Type DC</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Brushless DC</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>AC Inductance</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Current Transformers</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Winding / Assembly</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Lamination Stacks</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Wound and Formed Coil Assemblies</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Rotor Assemblies</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Stator Assemblies</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Brush Sub-Assemblies</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <b>Applications</b>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <div id="accordionLighting">
                    <a ng-href="#/products_lighting" class="btn btn-primary btn-lg btn-block" style="height:45px;font-size:17px;padding: 10px 0;">Lighting Product Information</a>
                    <div style="height:100%;">
                        <div class="row">
                            <div class="col-sm-12">
                                <light-gallery>
                                    <a ng-href="images/products/lighting/100_7093_resized.jpg" class="col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                                        <img style="width:100%;height:auto;" ng-src="images/products/lighting/100_7093_resized-170x200.jpg" />
                                    </a>
                                    <a ng-href="images/products/lighting/Lighting-Product-for-Aerospace_resized.png" class="col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Lighting Product For Aerospace</p>">
                                        <img style="width:100%;height:auto;" ng-src="images/products/lighting/Lighting-Product-for-Aerospace_resized-170x200.png" />
                                    </a>
                                </light-gallery>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>Incandescent and LED</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Halogen</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Interior Passenger & Storage Compartment Lamps</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Trunk & Powertrain Compartment Lamps</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Aircraft Cargo and Service Compartment Lighting</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Sealed and Hi/Low Temp Applications</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <b>Applications</b>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <div id="accordionSolenoids">
                    <a ng-href="#/products_solenoids" class="btn btn-primary btn-lg btn-block" style="height:45px;font-size:17px;padding: 10px 0;">Solenoids Product Information</a>
                    <div style="height:100%;">
                        <div class="row">
                            <div class="col-sm-12">
                                <light-gallery>
                                    <a ng-href="images/products/solenoids/Solenoid-Assembly-Interlock-Custom.jpg" class="col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Solenoid Assembly Interlock Custom</p>">
                                        <img style="width:100%;height:auto;" ng-src="images/products/solenoids/Solenoid-Assembly-Interlock-Custom-170x200.jpg" />
                                    </a>
                                    <a ng-href="images/products/solenoids/Coupler-Solenoid-2.jpg" class="col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Coupler Solenoid</p>">
                                        <img style="width:100%;height:auto;" ng-src="images/products/solenoids/Coupler-Solenoid-2-170x200.jpg" />
                                    </a>
                                </light-gallery>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>Symmetric & Asymmetric </li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Immersed & Dry Applications</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Transmission & Engine Applications</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Ignition Applications</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Latching & Locking Applications</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Relays</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Integrated Valves</li>
                                </ul>
                            </td>
                            <td>
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <b>Applications</b>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                                <img ng-src="images/products/plane8.gif" alt="Aerospace" width="25" height="25">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div id="accordionSensors">
                    <a ng-href="#/products_sensors" class="btn btn-primary btn-lg btn-block" style="height:45px;font-size:17px;padding: 10px 0;">Sensors Product Information</a>
                    <div style="height:100%;">
                        <div class="row">
                            <div class="col-sm-12">
                                <light-gallery>
                                    <a ng-href="images/products/sensors/QSS-Sensor-Hall-Effect-3.jpg" class="col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>QSS Sensor Hall Effect</p>">
                                        <img style="width:100%;height:auto;" ng-src="images/products/sensors/QSS-Sensor-Hall-Effect-3-170x200.jpg" />
                                    </a>
                                    <a ng-href="images/products/sensors/Sensor-Power-Motor-Windows-for-Honda.jpg" class="col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Sensor Power Motor Windows For Honda</p>">
                                        <img style="width:100%;height:auto;" ng-src="images/products/sensors/Sensor-Power-Motor-Windows-for-Honda-170x200.jpg" />
                                    </a>
                                </light-gallery>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li>Position / Velocity (linear & angular)</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td style="min-width:41px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Temperature</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Pressure</li>
                                </ul>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <i><b>Applications</b></i>
                            </td>
                            <td>
                                <img ng-src="images/products/car2.png" alt="Automotive" width="25" height="25">
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
