<div class="mainContainer aerospace" style="background-color:#F5F5F5;">
    <div class="row headerImage">
        <img src="images/products/Wiring-Page-Header-5-1170x353.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1>Product Information</h1>
                <p>
                    Capsonic develops optimized custom wire processing systems to match with other fabrication systems (for example molding, bonding, insertion, PC connect) so to provide unique solutions to difficult customer requirements. We produce many of our harness products to be integral to, or incorporated with, other devices that we produce in our factories: sensors with integral harnesses, overmolded/sealed harness assemblies, and switches with bonded harness leads are just a few examples.
                </p>
                <p>
                    <b>Wiring Products Types &amp; Technologies: </b>
                </p>
                <ul>
                    <li>Stand Alone &amp; Part Of Assemblies </li>
                    <li>Safety Critical Harnesses</li>
                    <li>Semi-Automated Wire</li>
                    <li>Automated Processing</li>
                    <li>Ribbon Cable Capability</li>
                    <li>Braided Cable Capability</li>
                    <li>Automated Processing</li>
                    <li>Fuel &amp; Oil Systems-Compatible Products</li>
                </ul>
                <br />
                <p><b>Process Info</b></p>
                <ul>
                    <li>Automated Cut/Strip/Terminate; Semi-Automated for constructions where automation is not applicable</li>
                    <li>Automated Post Termination processes such as bending, forming, coining</li>
                    <li>100% Electrical Testing for every internal line, Variable Data Testing/Retention, Serializing, Vision Systems incorporated on some lines</li>
                    <li>Insert Molding/Overmolding – Integrally sealed connections, Structural Interconnects &amp; Clips</li>
                    <li>Discharge and Grounding Cable Assemblies – Braided Cable &amp; Hi Gage Wire</li>
                    <li>Communication and Mixed Mode Harnesses – Wire Twisting</li>
                    <li>Full Design and Development: Concept, Prototype, Validation Testing, Tooling, Production Verification, Continued Conformance</li>
                </ul>
            </div>
            <div class="col-sm-5">
                <h1>Wire Harness</h1>
                <div style="background-color: #D9D9D9; padding: 20px;">
                    <b>Sub-system Applications</b>
                    <p>with examples of Capsonic product usage:</p>
                    <div style="border: 3px solid #92B25C; padding: 20px;">
                        <p style="font-size: 20px;"><b>Auto:</b>
                            <img ng-src="images/products/car2.png" alt="Automotive" width="42" height="42">
                        </p>
                        <ul>
                            <li>Steering Column, Steering Wheel &amp; Column Shifter</li>
                            <ul>
                                <li>Airbag Deploy</li>
                                <li>Sensor Harnesses</li>
                                <li>Shifter Switch Control</li>
                                <li>Multifunction &amp; Steering Wheel Controls</li>
                            </ul>
                            <li>Overhead/Sidewall</li>
                            <ul>
                                <li>Side Curtain Airbag</li>
                            </ul>
                            <li>Seat</li>
                            <ul>
                                <li>Seat Belt Pretensioners</li>
                                <li>Seat Sensor</li>
                            </ul>
                            <li>Fuel</li>
                            <ul>
                                <li>Fuel Pump Power &amp; Sensor</li>
                                <li>Fuel Level</li>
                            </ul>
                            <li>Engine/Transmission</li>
                            <ul>
                                <li>TurboCharger Control / Air Flow</li>
                                <li>Grounding Cable &amp; Wires</li>
                                <li>Transmission Controls/Sensor Harnesses</li>
                            </ul>
                        </ul>
                    </div>
                    <p>&nbsp;</p>
                    <div style="border: 3px solid #FF7F0F;padding: 20px">
                        <p style="font-size: 20px;"><b>Aero:</b>
                            <img ng-src="images/products/plane8.gif" alt="Aerospace" width="42" height="42">
                        </p>
                        <ul>
                            <li>Steering Column, Steering Wheel &amp; Column Shifter</li>
                            <li>Overhead/Sidewall</li>
                            <li>Seat</li>
                            <li>Fuel</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <light-gallery>
                    <a ng-href="images/products/wire/Wire-Harness-Connections.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Wire Harness Connections</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/wire/Wire-Harness-Connections-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/wire/Transmission-Wire-Harnesses.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Transmission Wire Harness</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/wire/Transmission-Wire-Harnesses-170x200.jpg" />
                    </a>
                </light-gallery>
            </div>
        </div>
        <h2>Categories</h2>
        <div class="row ProductCategories" style="margin-top:20px;">
            <div class="col-sm-12">
                <div id="accordion">
                    <h3>Transmission Wire Harness</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/wire/TransmissionWireHarness/Transmission-Wire-Harnesses.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Transmission Wire Harness</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/TransmissionWireHarness/Transmission-Wire-Harnesses_300x255.jpg" />
                            </a>
                            <a ng-href="images/products/wire/TransmissionWireHarness/SRA-Harness-Truck-Trans-blind-sealed-fit.png" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>SRA Harness Truck Trans Blind Sealed Fit</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/TransmissionWireHarness/SRA-Harness-Truck-Trans-blind-sealed-fit_300x255.png" />
                            </a>
                            <a ng-href="images/products/wire/TransmissionWireHarness/TECHM-Trans-Sensor-and-Wire-Asm-1.png" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Techm Trans Sensor and Wire ASM 1</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/TransmissionWireHarness/TECHM-Trans-Sensor-and-Wire-Asm-1_300x255.png" />
                            </a>
                        </light-gallery>
                    </div>
                    <h3>Wiring & Connection System Products</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/wire/WiringAndConnectionSystemProducts/Eaton-Wire-Harness.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>EATON Wire Harness</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/WiringAndConnectionSystemProducts/Eaton-Wire-Harness (Custom).jpg" />
                            </a>
                            <a ng-href="images/products/wire/WiringAndConnectionSystemProducts/P221.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>P221</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/WiringAndConnectionSystemProducts/P221 (Custom).jpg" />
                            </a>
                            <a ng-href="images/products/wire/WiringAndConnectionSystemProducts/Squib-Air-Bag-connector-1.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>SQUIB Air Bag Connector</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/WiringAndConnectionSystemProducts/Squib-Air-Bag-connector-1 (Custom).jpg" />
                            </a>
                            <a ng-href="images/products/wire/WiringAndConnectionSystemProducts/Wire-Connection-Product-Ford-contacts.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Wire Connection Product Ford Contacts</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/WiringAndConnectionSystemProducts/Wire-Connection-Product-Ford-contacts (Custom).jpg" />
                            </a>
                            <a ng-href="images/products/wire/WiringAndConnectionSystemProducts/Wire-Harness-Products-4.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Wire Harness Products</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/WiringAndConnectionSystemProducts/Wire-Harness-Products-4 (Custom).jpg" />
                            </a>
                            <a ng-href="images/products/wire/WiringAndConnectionSystemProducts/Wire-Harness-Twisted-pair-squib-close-up-1.JPG.png" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Wire Harness Twisted Pair Squib</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/WiringAndConnectionSystemProducts/Wire-Harness-Twisted-pair-squib-close-up-1.JPG (Custom).png" />
                            </a>
                        </light-gallery>
                    </div>
                    <h3>Integrated Wiring Products</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/wire/IntegratedWiringProducts/Integrated-Switch-Wire-Harness.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Integrated Switch Wire Harness</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/IntegratedWiringProducts/Integrated-Switch-Wire-Harness_300x255.jpg" />
                            </a>
                            <a ng-href="images/products/wire/IntegratedWiringProducts/Integrated-Wire-Products-Close-up.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Intergrated Wire Products Close Up</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/IntegratedWiringProducts/Integrated-Wire-Products-Close-up_300x255.jpg" />
                            </a>
                            <a ng-href="images/products/wire/IntegratedWiringProducts/vertically-integrated-fuel-flange-assembly.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Vertically Integrated Fuel Flange Assembly</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/IntegratedWiringProducts/vertically-integrated-fuel-flange-assembly_300x255.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                    <h3>Grounding Products</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/wire/GroundingProducts/Wire-Harness-General-Motors-Inline-Engines.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Wire Harness General Motors Inline Engines</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/GroundingProducts/Wire-Harness-General-Motors-Inline-Engines_300x255.jpg" />
                            </a>
                            <a ng-href="images/products/wire/GroundingProducts/2014-04-04-15.43.44.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/GroundingProducts/2014-04-04-15.43.44_300x255.jpg" />
                            </a>
                            <a ng-href="images/products/wire/GroundingProducts/GM-Ground-Cable-Variations.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>GM Ground Cable Variations</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/GroundingProducts/GM-Ground-Cable-Variations_300x255.jpg" />
                            </a>
                            <a ng-href="images/products/wire/GroundingProducts/Hi-Current-Ground-Cable-General-Motors-Premium-V8.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>HI Current Ground cable General Motors Premium V8</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/wire/GroundingProducts/Hi-Current-Ground-Cable-General-Motors-Premium-V8_300x255.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
