<div class="mainContainer aerospace" style="background-color:#F5F5F5;">
    <div class="row headerImage">
        <img src="images/products/Ford-Lighiting-1170x353.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1>Product Information</h1>
                <p>
                    Capsonic designs, tests and manufactures Interior and Exterior Lighting Products for use in the Automotive and Aerospace Industries. Interior Lighting products have visible surface development &amp;illuminated surface approval, while exterior/compartment lighting is developed to withstand the environmental and temperature-related rigors of each custom application.
                </p>
                <p>
                    <b>Illumination Product Technologies</b>
                </p>
                <ul>
                    <li>Incandescent, LED, Electroluminescent</li>
                    <ul>
                        <li>Printed/Flex Thinline LED</li>
                    </ul>
                    <li>Interior Passenger and Storage Compartment Lamps/Subsystems</li>
                    <li>Trunk/Underhood Compartment Lamp Assemblies</li>
                    <ul>
                        <li>Tilt &amp; Self Activation Control</li>
                    </ul>
                    <li>Aircraft Compartment Lighting </li>
                    <li>Sealed and Hi/Low Temp Applications </li>
                    <li>Switch Backlighting </li>
                    <li>Front Lighting </li>
                </ul>
                <br>
                <p><b>Process Capabilities</b></p>
                <p>
                </p>
                <ul>
                    <li>Laser Etching - Negative Contrast &amp; Etch thru Chrome technologies available via outside partners
                    </li>
                    <li>Backlighting – Incadnescent, LED and Electro-Luminescent </li>
                    <li>Direct lighting via Incandescent (fractional wattage &amp; full) or LED (single color or multiple;low or high intensity) &amp; Dissipation</li>
                    <li>Welding &amp; Soldering for Bulb/LED and discrete Electronics attach
                    </li>
                    <li>Direct Lenses (Glass and Molded &amp; Diffusing Lenses ( Molded &amp; Glass/etched) </li>
                    <li>Reflector Forming- molding/plating options
                    </li>
                    <li>Full Design &amp; Development: Concept, Prototype, Validation Testing, Tooling, Production Verification, Continued Conformance</li>
                </ul>
            </div>
            <div class="col-sm-5">
                <h1>Lighting</h1>
                <div style="background-color: #D9D9D9; padding: 20px;">
                    <b>Sub-system Applications</b>
                    <p>with examples of Capsonic product usage:</p>
                    <div style="border: 3px solid #92B25C;padding: 20px">
                        <p style="font-size: 20px;"><b>Auto:</b>
                            <img ng-src="images/products/car2.png" alt="Automotive" width="42" height="42">
                        </p>
                        <ul>
                            <li>Steering Column, Steering Wheel &amp; Column Shifter</li>
                            <ul>
                                <li>PRNDL </li>
                                <li>Surround Lighting </li>
                            </ul>
                            <li>Overhead Interiors </li>
                            <ul>
                                <li>Dome/Map Lighting </li>
                            </ul>
                            <li>Center Console </li>
                            <ul>
                                <li>PRNDL </li>
                                <li>Surround Lighting </li>
                            </ul>
                            <li>Door/Seat </li>
                            <ul>
                                <li>Sill Lighting </li>
                                <li>Bolster </li>
                                <li>Entry/Map Pocket </li>
                            </ul>
                        </ul>
                    </div>
                    <p>&nbsp;</p>
                    <div style="border: 3px solid #FF7F0F; padding: 20px">
                        <p style="font-size: 20px;"><b>Aero:</b>
                            <img ng-src="images/products/plane8.gif" alt="Aerospace" width="42" height="42">
                        </p>
                        <ul>
                            <li>Aircraft</li>
                            <ul>
                                <li>Cargo </li>
                                <li>Service Corridor </li>
                                <li>Passenger Compartment</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <light-gallery>
                    <a ng-href="images/products/lighting/lighting.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Lighting</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/lighting/lighting-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/lighting/100_7093_resized.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p></p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/lighting/100_7093_resized-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/lighting/Lighting-product-2_resized.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Lighting</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/lighting/Lighting-product-2_resized-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/lighting/Lighting-Product-for-Aerospace_resized.png" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Lighting Product For Aerospace</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/lighting/Lighting-Product-for-Aerospace_resized-170x200.png" />
                    </a>
                </light-gallery>
            </div>
        </div>
    </div>
</div>
