<div class="mainContainer aerospace" style="background-color:#F5F5F5;">
    <div class="row headerImage">
        <img src="images/products/Actuator-Page-header-Custom-1170x353.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1>Product Information</h1>
                <p>
                    Capsonic designs, tests and manufactures many types of electromechanical actuators for use in vehicle/aircraft safety systems, air/fluid control and vehicle engine control. Some of our actuator products include self-contained control, while others are designed to be externally controlled, but provide control feedback.
                </p>
                <p>
                    <b>Actuator Technologies:</b>
                </p>
                <ul>
                    <li>Latching and Locking</li>
                    <li>Multi-State</li>
                    <li>Proportional</li>
                    <li>Motion Control with positional feedback</li>
                    <li>Multi-functional Activations</li>
                    <li>Linear and Rotational and mixed</li>
                </ul>
                <br>
                <p><b>Process Info</b></p>
                <p>
                </p>
                <ul>
                    <li>Stator Winding – Low &amp; Mid Volume, one piece flow, various slot and length geometries</li>
                    <li>Lamination Stacks – Bonded, Welded, Skewed, Impregnated Assemblies</li>
                    <li>Rotor and Shaft Assemblies – Brush and Brushless Assemblies, Low Temp Shaft Insertions, Balancing and Grinding – OD &amp; ID</li>
                    <li>Brush cards and Brush Holder Assemblies – Discrete electronics attach, Insert Molded bases</li>
                    <li>Commutator Sub-Assemblies – Copper brush and Semiconductor brushless</li>
                    <li>Motor &amp; Gear Actuators – High actuation speed, High force, Latching</li>
                    <li>Design &amp; Development: Design to Specification (with or without external Design Partner), Prototype, Validation Testing, Tooling, Production Verification, Continued Conformance</li>
                </ul>
            </div>
            <div class="col-sm-5">
                <h1>Actuators</h1>
                <div style="background-color: #D9D9D9; padding: 20px;">
                    <b>Sub-system Applications</b>
                    <p>with examples of Capsonic product usage:</p>
                    <div style="border: 3px solid #92B25C; padding: 20px">
                        <p style="font-size: 20px;"><b>Auto:</b>
                            <img ng-src="images/products/car2.png" alt="Automotive" width="42" height="42">
                        </p>
                        <ul>
                            <li>Steering Column, Steering Wheel &amp; Column Shifter</li>
                            <ul>
                                <li>Brake Transmission Shift Interlock</li>
                                <li>Electronic Park Lock</li>
                                <li>Electronic Column Lock</li>
                                <li>Telescope Activation</li>
                            </ul>
                            <li>Instrument Panel &amp; Center Console</li>
                            <ul>
                                <li>Ignition &amp; Key Retention Modules</li>
                                <li>Automatic Temperature Control (multiport)</li>
                            </ul>
                            <li>Door</li>
                            <ul>
                                <li>Air Outlet Control</li>
                                <li>Lock Activation</li>
                            </ul>
                            <li>Engine</li>
                            <ul>
                                <li>Electronic Idle Speed Control</li>
                                <li>Solenoid Valve</li>
                            </ul>
                        </ul>
                    </div>
                    <p>&nbsp;</p>
                    <div style="border: 3px solid #FF7F0F; padding: 20px">
                        <p style="font-size: 20px;"><b>Aero:</b>
                            <img ng-src="images/products/plane8.gif" alt="Aerospace" width="42" height="42">
                        </p>
                        <ul>
                            <li>Aircraft Exterior Control Systems</li>
                            <ul>
                                <li>Inlet Flow Door Activation</li>
                                <li>Access Door Actuation</li>
                                <li>Landed Wheel Control</li>
                                <li>Hydraulic System Port Valve</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <light-gallery>
                    <a ng-href="images/products/actuators/Actuator-AIS-Stand-Alone.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Actuator AIS Stand Alone</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/actuators/Actuator-AIS-Stand-Alone-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/actuators/Actuator.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Actuator</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/actuators/Actuator-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/actuators/Air-Valve-Actuator-2-1.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Air Valve</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/actuators/Air-Valve-Actuator-2-1-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/actuators/automatic-temperature-control-sensing-module-with-solenoid-valves-.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Automatic temperture control sensing module with solenoid valves</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/actuators/automatic-temperature-control-sensing-module-with-solenoid-valves--170x200.jpg" />
                    </a>
                    <a ng-href="images/products/actuators/Key-Fob-Retention-Actuator-2.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Key Fob Retention Actuator</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/actuators/Key-Fob-Retention-Actuator-2-170x200.jpg" />
                    </a>
                </light-gallery>
            </div>
        </div>
    </div>
</div>
