<div class="mainContainer aerospace" style="background-color:#F5F5F5;">
    <div class="row headerImage">
        <img src="images/products/Sensor-Page-Header-Custom-1170x353.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1>Product Information</h1>
                <p>
                    Capsonic designs, tests and manufactures sensors for use in challenging applications such as Automotive Powertrain (engine and transmission) applications. Fully sealed/encapsulated products are designed to meet customer specification requirements, but also to provide consistency in volume production processes.
                </p>
                <p>
                    <b>Sensor Technologies</b>
                </p>
                <ul>
                    <li>Stand-Alone and Integrated in Higher Order Assemblies </li>
                    <li>Position / Velocity (linear &amp; angular) </li>
                    <ul>
                        <li>Contact</li>
                        <li>Non-Contact</li>
                    </ul>
                    <li>Temperature </li>
                    <ul>
                        <li>Device </li>
                        <li>Semiconductor-Based </li>
                    </ul>
                    <li>Pressure </li>
                    <ul>
                        <li>Device </li>
                        <li>Semiconductor-Based </li>
                    </ul>
                    <li>Air Flow </li>
                </ul>
                <p>&nbsp;</p>
                <p><b>Process Info</b></p>
                <p>
                </p>
                <ul>
                    <li>Integral Attachment for Thermoresistive Elements, Welding, Crimping </li>
                    <li>Resistive Ink Screening, Curing &amp; Trimming </li>
                    <li>Proprietary Position and Angular Sensing Technology - +/_ 0.5 Deg capable Temperature Stable</li>
                    <li>Non-Contact Sensing - Magnetic, piezioelectric, capacitive </li>
                    <li>Dissipative Motor Protection and Motor Position/Commutator Controls </li>
                    <li>100% Electrical Testing with every internal line, Linearity and Variable Testing</li>
                    <li>Full Design &amp; Development: Concept, Prototype, Validation Testing, Tooling, Production Verification, Continued Conformance </li>
                </ul>
            </div>
            <div class="col-sm-5">
                <h1>Sensors</h1>
                <div style="background-color: #D9D9D9; padding: 20px;">
                    <b>Sub-system Applications</b>
                    <p>with examples of Capsonic product usage:</p>
                    <div style="border: 3px solid #92B25C; padding: 20px">
                        <p style="font-size: 20px;"><b>Auto:</b>
                            <img ng-src="images/products/car2.png" alt="Automotive" width="42" height="42">
                        </p>
                        <ul>
                            <li>Steering Column, Steering Wheel &amp; Column Shifter </li>
                            <ul>
                                <li>Steering Angle / Position </li>
                                <li>Tilt / Telescope Position </li>
                            </ul>
                            <li>Automotive - Center Console </li>
                            <ul>
                                <li>HVAC</li>
                                <li>Flow</li>
                                <li>Temperature</li>
                            </ul>
                            <li>Seat</li>
                            <ul>
                                <li>Automotive -Buckle Engagement State </li>
                                <li>Industrial – Occupant Sensing </li>
                                <li>Safety &amp; Operational Cut-Off </li>
                            </ul>
                            <li>Door</li>
                            <ul>
                                <li>Sliding Door Position</li>
                            </ul>
                            <li>Automotive - Engine / Transmission </li>
                            <ul>
                                <li>Valve Activation State </li>
                                <li>Throttle Position </li>
                                <li>Transmission Temperature </li>
                                <li>Engine Cooling Fan Flow / Temperature </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <light-gallery>
                    <a ng-href="images/products/sensors/QSS-Sensor-Hall-Effect-3.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>QSS Sensor Hall Effect</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/sensors/QSS-Sensor-Hall-Effect-3-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/sensors/Transmission-Wire-Harness-with-Potted-End-3.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Transmission Wire Harness With Potted End</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/sensors/Transmission-Wire-Harness-with-Potted-End-3-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/sensors/Transmission-Port-Pressure-Sensor-5.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Transmission Port Pressure Sensor</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/sensors/Transmission-Port-Pressure-Sensor-5-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/sensors/throttle-position-sensor.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Throttle Position Sensor</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/sensors/throttle-position-sensor-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/sensors/Temperature-Control-Sensor-for-Jaguar.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Temperature Control Sensor For Jaguar</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/sensors/Temperature-Control-Sensor-for-Jaguar-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/sensors/Sensor-Power-Motor-Windows-for-Honda.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Sensor Power Motor Windows For Honda</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/sensors/Sensor-Power-Motor-Windows-for-Honda-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/sensors/QSS-Sensor-Hall-Effect.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>QSS Sensor Hall Effect</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/sensors/QSS-Sensor-Hall-Effect-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/sensors/Air-inlet-temp-sensor.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Air Inlet Temp Sensor</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/sensors/Air-inlet-temp-sensor-170x200.jpg" />
                    </a>
                </light-gallery>
            </div>
        </div>
    </div>
</div>
