<div class="mainContainer aerospace" style="background-color:#F5F5F5;">
    <div class="row headerImage">
        <img src="images/products/Solenoid-family-2-Page-Header-1170x353.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1>Product Information</h1>
                <p>
                    Capsonic designs, manufactures and tests solenoid and coil products. Some solenoid applications will also include additional functional content, such as valves, latching mechanisms, feedback devices, or pre-wired interconnects. We overmold some coil assemblies for protected use in harsh environments. 100% electrical and core mechanical function testing is part of the production process on all of our products, leading to infallible quality provided to our customers
                </p>
                <p>
                    <b>Solenoid &amp; Coil Assembly Highlights</b>
                </p>
                <ul>
                    <li>Symmetric &amp; Asymmetric </li>
                    <li>Fluid Immersed &amp; Dry Applications </li>
                    <li>Transmission &amp; Engine Applications </li>
                    <li>Ignition Applications </li>
                    <li>Latching &amp; Locking Applications </li>
                    <li>Braided Cable Capability</li>
                    <li>Bobbin &amp; Bobbin-less Coils </li>
                    <li>Integrated Valves </li>
                    <li>Relays </li>
                </ul>
                <br>
                <p><b>Process Info</b></p>
                <p>
                </p>
                <ul>
                    <li>Automated &amp; Semi-Automated Coil Winding – Lead terminations automated &amp; manual </li>
                    <li>Automated &amp; Semi-Automated Assembly </li>
                    <li>100% Electrical Testing on every internal line, Force/Displacement Testing, Impedance Testing, Lock/Latch Point Testing</li>
                    <li>Integral Wire Harness and Connections (Weld &amp; IDC Connect), Protection Circuitry, Switch and Sensor Integrated Feedback </li>
                    <li>Solderless Connection Processes – Compliant Pin, Weld, IDC </li>
                    <li>Insert Molding for Coil Overmolding and Bobbins </li>
                    <li>Full Design &amp; Development: Magnetic Analyses, Concept, Prototype, Validation Testing, Tooling, Production Verification, Continued Conformance</li>
                </ul>
            </div>
            <div class="col-sm-5">
                <h1>Solenoids</h1>
                <div style="background-color: #D9D9D9; padding: 20px;">
                    <b>Sub-system Applications</b>
                    <p>with examples of Capsonic product usage:</p>
                    <div style="border: 3px solid #92B25C; padding: 20px">
                        <p style="font-size: 20px;"><b>Auto:</b>
                            <img ng-src="images/products/car2.png" alt="Automotive" width="42" height="42">
                        </p>
                        <ul>
                            <li>Steering Column, Steering Wheel &amp; Column Shifter </li>
                            <ul>
                                <li>Brake Transmission Shift Interlock </li>
                                <li>Electronic Park Lock </li>
                                <li>Key Recognition Coils </li>
                            </ul>
                            <li>Transmission</li>
                            <ul>
                                <li>Hydraulic Shift Control – Cars </li>
                                <li>Hydraulic Shift Control &amp; Lock - Busses </li>
                            </ul>
                            <li>Center Console / Instrument Panel </li>
                            <ul>
                                <li>Electronic Park Lock </li>
                                <li>Key Fob Lock </li>
                            </ul>
                            <li>Automotive - Fuel </li>
                            <ul>
                                <li>Fuel Canister, Fuel Injector </li>
                            </ul>
                            <li>Automotive - Engine </li>
                            <ul>
                                <li>Ignition / Ignition Coils </li>
                                <li>Port Actuation </li>
                                <li>Fuel Injection </li>
                            </ul>
                        </ul>
                    </div>
                    <p>&nbsp;</p>
                    <div style="border: 3px solid #FF7F0F; padding: 20px">
                        <p style="font-size: 20px;"><b>Aero:</b>
                            <img ng-src="images/products/plane8.gif" alt="Aerospace" width="42" height="42">
                        </p>
                        <ul>
                            <li>Aircraft – Fluid Control </li>
                            <ul>
                                <li>Proportional Hydraulic Control Valves </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <light-gallery>
                    <a ng-href="images/products/solenoids/Solenoid-Assembly-Interlock-Custom.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Solenoid Assembly Interlock Custom</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/solenoids/Solenoid-Assembly-Interlock-Custom-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/solenoids/Coupler-Solenoid-2.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Coupler Solenoid</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/solenoids/Coupler-Solenoid-2-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/solenoids/Solenoids-Custom.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Solenoids Custom</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/solenoids/Solenoids-Custom-170x200.jpg" />
                    </a>
                </light-gallery>
            </div>
        </div>
        <h2>Categories</h2>
        <div class="row ProductCategories" style="margin-top:20px;">
            <div class="col-sm-12">
                <div id="accordion">
                    <h3>Integrated Valves</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/solenoids/IntegratedValves/Exhaust-gas-recirculation-valve-control-solenoid-asm.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>EXHAUST-GAS-RECIRCULATION-VALVE-CONTROL-SOLENOID-ASM-CUSTOM
</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/solenoids/IntegratedValves/Exhaust-gas-recirculation-valve-control-solenoid-asm small.jpg" />
                            </a>
                            <a ng-href="images/products/solenoids/IntegratedValves/Hydraulic-Transmission-Valve-Control-Solenoid-Allison-Trans.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>ALLISON-TRANSMISSION-SOLENOID
</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/solenoids/IntegratedValves/Hydraulic-Transmission-Valve-Control-Solenoid-Allison-Trans small.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                    <h3>Wound Coils</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/solenoids/WoundCoils/Wound-Coil.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>WOUND-COIL-CUSTOM
</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/solenoids/WoundCoils/Wound-Coil small.jpg" />
                            </a>
                            <a ng-href="images/products/solenoids/WoundCoils/common-coils-with-varying-resistance-windings.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>COMMON-COILS-WITH-VARYING-RESISTANCE-WINDINGS-CUSTOM
</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/solenoids/WoundCoils/common-coils-with-varying-resistance-windings small.jpg" />
                            </a>
                            <a ng-href="images/products/solenoids/WoundCoils/Coil-Winding-with-Diode.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>COIL-WINDING-WITH-DIODE
</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/solenoids/WoundCoils/Coil-Winding-with-Diode small.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                    <h3>Solenoids with State Feedback</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/solenoids/SolenoidsWithStateFeedback/Solenoid-Brake-Trans-Shift-Interlock-Ford.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>SOLENOID-BRAKE-TRANS-SHIFT-INTERLOCK-FORD
</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/solenoids/SolenoidsWithStateFeedback/Solenoid-Brake-Trans-Shift-Interlock-Ford small.jpg" />
                            </a>
                            <a ng-href="images/products/solenoids/SolenoidsWithStateFeedback/P473-Solenoid-Ford-F150-Lock-Steering-Column-BTSI-Switch-3.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>P473-SOLENOID-FORD-F150-LOCK-STEERING-COLUMN-BTSI-SWITCH-3
</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/solenoids/SolenoidsWithStateFeedback/P473-Solenoid-Ford-F150-Lock-Steering-Column-BTSI-Switch-3 small.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                    <h3>PWM Driven</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/solenoids/PWMDriven/GHSP-solenoid-6.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>GHSP-SOLENOID-61
</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/solenoids/PWMDriven/GHSP-solenoid-6 small.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
