<div class="mainContainer aerospace" style="background-color:#F5F5F5;">
    <div class="row headerImage">
        <img src="images/products/Motor-Page-Header-3-Custom-Custom-1170x353.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1>Product Information</h1>
                <p>
                    Capsonic produces custom motor and power generation assemblies utilizing both internally developed motor/assemblies as well as incorporating pre-tooled motors. We are also integrated to produce components and sub-assemblies for other motor systems where full assembly is accomplished elsewhere. Optimal manufacturing techniques, matched to volume and complexity, provide for cost-effective and reliable quality.
                </p>
                <p>
                    <b>Motor Product Types and Technologies</b>
                </p>
                <ul>
                    <li>Brush Type DC</li>
                    <li>Brushless DC</li>
                    <li>AC Inductance</li>
                    <li>Current Transformers</li>
                    <li>Winding / Assembly</li>
                    <li>Lamination Stacks</li>
                    <li>Wound and Formed Coil Assemblies</li>
                    <li>Rotor Assemblies</li>
                    <li>Stator Assemblies</li>
                    <li>Brush Sub-Assemblies</li>
                    <li>Non Contact Commutators/Controls</li>
                </ul>
                <p>
                    <b>Process Info</b>
                </p>
                <ul>
                    <li>Stator Winding – Low &amp; Mid Volume, one piece flow, various slot and length geometries</li>
                    <li>Lamination Stacks – Bonded, Welded, Skewed, Impregnated Assemblies</li>
                    <li>Rotor and Shaft Assemblies – Brush and Brushless Assemblies, Low Temp Shaft Insertions, Balancing and Grinding – OD &amp; ID</li>
                    <li>Brush cards and Brush Holder Assemblies – Discrete electronics attach, Insert Molded bases</li>
                    <li>Commutator Sub-Assemblies – Copper brush and Semiconductor brushless</li>
                    <li>Motor &amp; Gear Actuators – High actuation speed, High force, Latching</li>
                    <li>Design &amp; Development: Design to Specification (with or without external Design Partner), Prototype, Validation Testing, Tooling, Production Verification, Continued Conformance</li>
                </ul>
            </div>
            <div class="col-sm-5">
                <h1>Motors</h1>
                <div style="background-color: #D9D9D9; padding: 20px;">
                    <b>Sub-system Applications</b>
                    <p>with examples of Capsonic product usage:</p>
                    <div style="border: 3px solid #92B25C; padding: 20px;">
                        <p style="font-size: 20px;"><b>Auto:</b>
                            <img ng-src="images/products/car2.png" alt="Automotive" width="42" height="42">
                        </p>
                        <ul>
                            <li>Automotive - Center Console</li>
                            <ul>
                                <li>HVAC</li>
                            </ul>
                            <li>Seat</li>
                            <ul>
                                <li>Adjustment Mechanisms</li>
                            </ul>
                            <li>Automotive - Door</li>
                            <ul>
                                <li>Window Lift </li>
                                <li>Auto Closing</li>
                                <li>Rear Wiper</li>
                            </ul>
                            <li>Automotive - Steering Column</li>
                            <ul>
                                <li>Tilt &amp; Telescope</li>
                            </ul>
                            <li>Industrial Products</li>
                            <ul>
                                <li>Blower Control</li>
                            </ul>
                        </ul>
                    </div>
                    <p>&nbsp;</p>
                    <div style="border: 3px solid #FF7F0F; padding: 20px;">
                        <p style="font-size: 20px;"><b>Aero:</b>
                            <img ng-src="images/products/plane8.gif" alt="Aerospace" width="42" height="42">
                        </p>
                        <ul>
                            <li>Starter/Generator</li>
                            <li>Vacuum Generator</li>
                            <li>Real Time Spun Load</li>
                            <li>Flow Inlet Activation</li>
                            <li>Access Door Actuation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <light-gallery>
                    <a ng-href="images/products/motors/Aerospace-Motor-Products-Stator-and-Armature.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Aerospace Motor Products Statos And Armature</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/motors/Aerospace-Motor-Products-Stator-and-Armature-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/motors/Motors.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Motors</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/motors/Motors-170x200.jpg" />
                    </a>
                </light-gallery>
            </div>
        </div>
        <h2>Categories</h2>
        <div class="row ProductCategories" style="margin-top:20px;">
            <div class="col-sm-12">
                <div id="accordion">
                    <h3>Stator Assemblies</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/motors/StatorAssemblies/Honeywell-Stator-2.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>HONEYWELL-STATOR</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/StatorAssemblies/Honeywell-Stator-2 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/StatorAssemblies/Honeywell-Stator.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>HONEYWELL-STATOR</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/StatorAssemblies/Honeywell-Stator small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/StatorAssemblies/Stack-33256-3.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>STACK-33256</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/StatorAssemblies/Stack-33256-3 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/StatorAssemblies/Stack-2708286-1.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>STACK-2708286</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/StatorAssemblies/Stack-2708286-1 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/StatorAssemblies/Stack-2709492-1.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>STACK-2709492</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/StatorAssemblies/Stack-2709492-1 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/StatorAssemblies/Stack-2709625-1.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>STACK-2709625</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/StatorAssemblies/Stack-2709625-1 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/StatorAssemblies/Stack-2711801-1.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>STACK-2711801</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/StatorAssemblies/Stack-2711801-1 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/StatorAssemblies/Stack.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>STACK</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/StatorAssemblies/Stack small.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                    <h3>Rotor Assemblies</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/motors/RotorAssemblies/Casted-Rotor.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>CASTED-ROTOR</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/RotorAssemblies/Casted-Rotor small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/RotorAssemblies/Magnetized-Machined.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>MAGNETIZED-MACHINED</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/RotorAssemblies/Magnetized-Machined small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/RotorAssemblies/Rotor-1.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>ROTOR-1</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/RotorAssemblies/Rotor-1 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/RotorAssemblies/Rotor-2.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>ROTOR-2</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/RotorAssemblies/Rotor-2 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/RotorAssemblies/Rotor-4.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>ROTOR-4</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/RotorAssemblies/Rotor-4 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/RotorAssemblies/Rotor-5.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>ROTOR-5</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/RotorAssemblies/Rotor-5 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/RotorAssemblies/Rotor-516846-12.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>ROTOR-516846-12</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/RotorAssemblies/Rotor-516846-12 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/RotorAssemblies/Rotor-606634-2.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>ROTOR-606634-2</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/RotorAssemblies/Rotor-606634-2 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/RotorAssemblies/Rotor-2805512-1.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>ROTOR-2805512-1</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/RotorAssemblies/Rotor-2805512-1 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/RotorAssemblies/Armature-Electrical-Motor-for-Aerospace-Generator-and-Stator.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>ARMATURE-ELECTRICAL-MOTOR-FOR-AEROSPACE-GENERATOR-AND-STATOR</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/RotorAssemblies/Armature-Electrical-Motor-for-Aerospace-Generator-and-Stator small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/RotorAssemblies/Armature-1.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>ARMATURE-1</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/RotorAssemblies/Armature-1 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/RotorAssemblies/Armature-4.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>ARMATURE-4</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/RotorAssemblies/Armature-4 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/RotorAssemblies/Rotor-516111-5-Large.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>ROTOR-516111</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/RotorAssemblies/Rotor-516111-5-Large small.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                    <h3>Current Transformers &amp; Diode Assemblies</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/motors/CurrentTransformersAndDiodeAssemblies/Current-Transformer.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>CURRENT-TRANSFORMER</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/CurrentTransformersAndDiodeAssemblies/Current-Transformer small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/CurrentTransformersAndDiodeAssemblies/Current-Transformers-CTs.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>CURRENT-TRANSFORMERS-CTS</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/CurrentTransformersAndDiodeAssemblies/Current-Transformers-CTs small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/CurrentTransformersAndDiodeAssemblies/Diodes.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>DIODES</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/CurrentTransformersAndDiodeAssemblies/Diodes small.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                    <h3>Brush/Commutation Control</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/motors/BrushCommutationControl/Wiper_Motor_End_Plate_Assembly_converted.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>WIPER_MOTOR_END_PLATE_ASSEMBLY_CONVERTED</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/BrushCommutationControl/Wiper_Motor_End_Plate_Assembly_converted small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/BrushCommutationControl/Next-Generation-Brush-Card-with-Parts-Reduction-and-C-omponent-Access-Chg.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>NEXT-GENERATION-BRUSH-CARD-WITH-PARTS-REDUCTION-AND-C-OMPONENT-ACCESS-CHG
</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/BrushCommutationControl/Next-Generation-Brush-Card-with-Parts-Reduction-and-C-omponent-Access-Chg small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/BrushCommutationControl/Motors.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>MOTORS</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/BrushCommutationControl/Motors small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/BrushCommutationControl/Brush-Holder-Honda-Motor-Fan-Holder-Assembly-and-Coil-2-Custom.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>BRUSH-HOLDER-HONDA-MOTOR-FAN-HOLDER-ASSEMBLY-AND-COIL-2-CUSTOM
</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/BrushCommutationControl/Brush-Holder-Honda-Motor-Fan-Holder-Assembly-and-Coil-2- small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/BrushCommutationControl/Motor-Prod-Brush-Holder-Asms-Custom.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>MOTOR-PROD-BRUSH-HOLDER-ASMS-CUSTOM
</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/BrushCommutationControl/Motor-Prod-Brush-Holder-Asms small.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                    <h3>Other Power Generation/Motor Products</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/motors/OtherPowerGeneration/Window-Lift-Motor-Gear-Assembly-for-Capsonic-Group-2.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>WINDOW-LIFT-MOTOR-GEAR-ASSEMBLY-FOR-CAPSONIC-GROUP-2
</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/OtherPowerGeneration/Window-Lift-Motor-Gear-Assembly-for-Capsonic-Group-2 small.jpg" />
                            </a>
                            <a ng-href="images/products/motors/OtherPowerGeneration/Window-Lift-Motor-Housing-for-Capsonic-Group.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>WINDOW-LIFT-MOTOR-HOUSING-FOR-CAPSONIC-GROUP
</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/motors/OtherPowerGeneration/Window-Lift-Motor-Housing-for-Capsonic-Group small.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
