<div class="mainContainer aerospace" style="background-color:#F5F5F5;">
    <div class="row headerImage">
        <img src="images/products/Actuator-Page-header-Custom-1170x353.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1>Product Information</h1>
                <p>
                    Capsonic designs, tests and manufactures many types of electromechanical actuators for use in vehicle/aircraft safety systems, air/fluid control and vehicle engine control. Some of our actuator products include self-contained control, while others are designed to be externally controlled, but provide control feedback.
                </p>
                <p>
                    <b>Actuator Technologies:</b>
                </p>
                <ul>
                    <li>Latching and Locking</li>
                    <li>Multi-State</li>
                    <li>Proportional</li>
                    <li>Motion Control with positional feedback</li>
                    <li>Multi-functional Activations</li>
                    <li>Linear and Rotational and mixed</li>
                </ul>
                <br>
                <p><b>Process Info</b></p>
                <p>
                </p>
                <ul>
                    <li>Stator Winding – Low &amp; Mid Volume, one piece flow, various slot and length geometries</li>
                    <li>Lamination Stacks – Bonded, Welded, Skewed, Impregnated Assemblies</li>
                    <li>Rotor and Shaft Assemblies – Brush and Brushless Assemblies, Low Temp Shaft Insertions, Balancing and Grinding – OD &amp; ID</li>
                    <li>Brush cards and Brush Holder Assemblies – Discrete electronics attach, Insert Molded bases</li>
                    <li>Commutator Sub-Assemblies – Copper brush and Semiconductor brushless</li>
                    <li>Motor &amp; Gear Actuators – High actuation speed, High force, Latching</li>
                    <li>Design &amp; Development: Design to Specification (with or without external Design Partner), Prototype, Validation Testing, Tooling, Production Verification, Continued Conformance</li>
                </ul>
            </div>
            <div class="col-sm-5">
                <h1>Actuators</h1>
                <div style="background-color: #D9D9D9; padding: 20px;">
                    <b>Sub-system Applications</b>
                    <p>with examples of Capsonic product usage:</p>
                    <div style="border: 3px solid #92B25C; padding: 20px">
                        <p style="font-size: 20px;"><b>Auto:</b>
                            <img ng-src="images/products/car2.png" alt="Automotive" width="42" height="42">
                        </p>
                        <ul>
                            <li>Steering Column, Steering Wheel &amp; Column Shifter</li>
                            <ul>
                                <li>Brake Transmission Shift Interlock</li>
                                <li>Electronic Park Lock</li>
                                <li>Electronic Column Lock</li>
                                <li>Telescope Activation</li>
                            </ul>
                            <li>Instrument Panel &amp; Center Console</li>
                            <ul>
                                <li>Ignition &amp; Key Retention Modules</li>
                                <li>Automatic Temperature Control (multiport)</li>
                            </ul>
                            <li>Door</li>
                            <ul>
                                <li>Air Outlet Control</li>
                                <li>Lock Activation</li>
                            </ul>
                            <li>Engine</li>
                            <ul>
                                <li>Electronic Idle Speed Control</li>
                                <li>Solenoid Valve</li>
                            </ul>
                        </ul>
                    </div>
                    <p>&nbsp;</p>
                    <div style="border: 3px solid #FF7F0F; padding: 20px">
                        <p style="font-size: 20px;"><b>Aero:</b>
                            <img ng-src="images/products/plane8.gif" alt="Aerospace" width="42" height="42">
                        </p>
                        <ul>
                            <li>Aircraft Exterior Control Systems</li>
                            <ul>
                                <li>Inlet Flow Door Activation</li>
                                <li>Access Door Actuation</li>
                                <li>Landed Wheel Control</li>
                                <li>Hydraulic System Port Valve</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <light-gallery>
                    <a ng-href="images/products/actuators/Actuator-AIS-Stand-Alone.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Actuator AIS Stand Alone</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/actuators/Actuator-AIS-Stand-Alone-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/actuators/Actuator.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Actuator</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/actuators/Actuator-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/actuators/Air-Valve-Actuator-2-1.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Air Valve</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/actuators/Air-Valve-Actuator-2-1-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/actuators/automatic-temperature-control-sensing-module-with-solenoid-valves-.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Automatic temperture control sensing module with solenoid valves</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/actuators/automatic-temperature-control-sensing-module-with-solenoid-valves--170x200.jpg" />
                    </a>
                    <a ng-href="images/products/actuators/Key-Fob-Retention-Actuator-2.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Key Fob Retention Actuator</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/actuators/Key-Fob-Retention-Actuator-2-170x200.jpg" />
                    </a>
                </light-gallery>
            </div>
        </div>
    </div>
</div>
<html>

<head>
    <script type="text/javascript">
    try {
        opener.parent.parent.parent.document.getElementById("loader_act").style.display = "none";
    } catch (ex) {}
    try {
        parent.parent.parent.document.getElementById("loader_act").style.display = "none";
    } catch (ex) {}
    </script>
    <link href="/bestbanking/BB/css/estilos_imp.css" rel="stylesheet" type="text/css" media="print" />
    <link href="/bestbanking/BB/css/estilos.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="/bestbanking/BB/js/jquery-1.4.2.min.js">
    </script>
    <script type="text/javascript" src="/bestbanking/BB/js/motor.js">
    </script>
</head>

<body onbeforeprint="javascript:ShownHide();" onafterprint="javascript:ShownHide();" onload="if(window.swap != null)swap(); pintaTablas(); formatolargo();">
    <script type="text/javascript">
    <!--
    jQuery(document).ready(function() {
        $(".bordeSupCe2b").parents("table").addClass("tablaBordeAzul");
        $(".bordeSupCe2b_v").parents("table").addClass("tablaBordeVerde");
        $(".bordeSupCe2b_a ").parents("table").addClass("tablaBordeAzul");
        $("*:not(:button)").css("font-size", "8pt");
    });
    var x = window.screen.availWidth;
    var y = window.screen.availHeight;
    window.moveTo(0, 0);
    window.resizeTo(x, y);

    function pintaTablas() {
        $(".pinta1 tr:even td").css("background-color", "#f0f4f9");
        $(".pinta1 tr:odd td").css("background-color", "#FFF");
        $(".pinta2 tr:even td").css("background-color", "#FFF");
        $(".pinta2 tr:odd td").css("background-color", "#F0F4F9");
    }

    function DoPrint() {
        window.print();
        window.close();
    }

    function formatolargo() {
        var d, day, dofw, month, year, x, y, fecha = "";
        var x = new Array("Domingo", "Lunes", "Martes", "Mi&eacute;rcoles");
        x = x.concat("Jueves", "Viernes", "S&aacute;bado");
        var y = new Array("Enero", "Febrero", "Marzo", "Abril");
        y = y.concat("Mayo", "Junio", "Julio", "Agosto");
        y = y.concat("Septiembre", "Octubre", "Noviembre", "Diciembre");
        var armafecha = "18/12/2015".split("/");
        var d = new Date(armafecha[1] + "/" + armafecha[0] + "/" + armafecha[2]);
        day = d.getDay();
        month = d.getMonth();
        fecha = x[day] + " " + d.getDate() + " de " + y[month] + " del " + d.getFullYear() + ", " + "2:40:12 PM" + " Centro de M&eacute;xico";
        document.getElementById("completo").innerHTML = fecha;
        $(".btnregresa, .flecha").css("display", "none");
    }



    function ShownHide() {
        tags = document.all.invisible;
        if ((tags + "") == "undefined")
            return;
        numtags = tags.length + "";
        if (numtags == "undefined") {
            tags.style.display = tags.style.display == "" ? "none" : "";
        } else {
            for (i = 0; i < tags.length; i++) tags[i].style.display = tags[i].style.display == "" ? "none" : "";
        }
    }


    function OcultaBoton() {
        noprint.style.visibility = "hidden";
        noprint.style.position = "absolute";
    }

    $("#satimp table:odd > td").addClass("bgF0F4F9");
    $("#satimp tr:odd > td").addClass("bgF0F4F9");
    $("#satimp br:odd > td").addClass("bgF0F4F9");
    $("#tablaErrores tr:odd > td").addClass("bgF0F4F9b");

    //-->
    </script>
    <div class="contenedorBanamexImpresion">
        <div class="saldos_bloque3">
            <div id="Header" class="ancho100p overflow clear">
                <div class="cabeceraSup">
                    <div>
                        <div style="float:right;height:30px;width:90px;margin-top:10px;">
                            <img src="/bestbanking/BB/images/LogoBancanet.gif">
                        </div>
                    </div>
                    <div style="float:left;margin-top:10px;width:190px;height:45px;z-index:1;">
                        <img src="/bestbanking/BB/images/LogoBanamex.gif">
                    </div>
                </div>
                <div class="ancho100p  paddingB5 borderB_E6E6E6" id="completo">
                </div>
            </div>
            </br>
            <div>
                <a href="javascript:window.print();" class="saldos_btn2 noButton" align="right" valign="top">
                </a>
            </div>
            </br>
            </br>
        </div>
    </div>
    <div class="contenedorBanamexImpresion">
        <div class="saldos_bloque3">
            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td valign="top" class="ancho10">
                        <div class="saldos_bordeSupIz2b_a">
                        </div>
                    </td>
                    <td class="bordeSupCe2b_a">&nbsp;
                    </td>
                    <td valign="top" class="ancho10">
                        <div class="saldos_bordeSupDe2b_a">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="ancho10 bordesIz1">&nbsp;
                    </td>
                    <td class="paddingB5 paddingL10 paddingT3 paddingR10">
                        <div class="titulo_tabla_at marginT0">
                            Estado de Cuenta
                        </div>
                        <div class="saldos_bloque3">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="paddingR15 ancho50p" valign="top">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tablaSaldos3 pinta1">
                                            <tr>
                                                <td class="tablaSaldos2_bordeR ancho50p bgF0F4F9">
                                                    <span>Cliente
                    </span>
                                                </td>
                                                <td class="ancho50p bgF0F4F9">24749222
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tablaSaldos2_bordeR">
                                                    <span>Raz&oacute;n Social
                </span>
                                                </td>
                                                <td>JOSE ALFREDO,PACHECO/HERNANDEZ
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td valign="top" class="ancho10 bordesDe1">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td valign="bottom" class="ancho10">
                        <div class="saldos_bordeSupIz2c_a">
                        </div>
                    </td>
                    <td class="bordeSupCe2c_a">&nbsp;
                    </td>
                    <td valign="bottom" class="ancho10">
                        <div class="saldos_bordeInfDe2c_a">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="contenedorBanamexImpresion">
        <br />
        <script>
        var mN = new Array("Enero ", "Febrero ", "Marzo ", "Abril ", "Mayo ", "Junio ", "Julio ", "Agosto ", "Septiembre ", "Octubre ", "Noviembre ", "Diciembre ");

        var mesCurr;
        var mesPas;
        var cyear;
        var pyear;
        cCEWF2('18/12/2015', '1');
        if (m == 1) {
            mesCurr = mN[0];
            mesPas = mN[11];
            cyear = y;
            pyear = y - 1;
        } else {
            mesCurr = mN[m - 1];
            mesPas = mN[m - 2];
            cyear = y;
            pyear = y;
        }

        function cCEWF2(d, l) {
            if (l == '1') {
                today = new Date(d.substr(6, 4), d.substr(3, 2) - 1, d.substr(0, 2));
                fday = new Date(d.substr(6, 4), d.substr(3, 2) - 1, '01');
            } else {
                today = new Date(d.substr(6, 4), d.substr(0, 2) - 1, d.substr(3, 2));
                fday = new Date(d.substr(6, 4), d.substr(0, 2) - 1, '01');
            }
            wd = fday.getDay() + 1;
            m = today.getMonth() + 1;
            y = today.getFullYear();
        }
        </script>
        <div class="saldos_bloque3">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" class="ancho10">
                        <div class="saldos_bordeSupIz2b_a">
                        </div>
                    </td>
                    <td class="bordeSupCe2b_a">&nbsp;
                    </td>
                    <td valign="top" class="ancho10">
                        <div class="saldos_bordeSupDe2b_a">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="ancho10 bordesIz1">&nbsp;
                    </td>
                    <td class="paddingB5 paddingT5 paddingL10 paddingR10">
                        <div class="panelIzEnca3_text2 overflow" id="t0">Estados de Cuenta en línea - Cuenta de Cheques
                        </div>
                        <div class="saldos_bloque3">
                            <div class="titulo_tabla_at marginT0 ancho100p" id="t2">Resumen de cuenta
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="paddingR15 ancho50p" valign="top">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tablaSaldos3 pinta1">
                                            <tr>
                                                <td class="tablaSaldos2_bordeR ancho50p bgF0F4F9">
                                                    <span id="t3">Tipo de cuenta
                                        </span>
                                                </td>
                                                <td class="ancho50p bgF0F4F9">Cheques
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tablaSaldos2_bordeR">
                                                    <span id="t4">Sucursal
                                        </span>
                                                </td>
                                                <td>4476
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="paddingL15" valign="top">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tablaSaldos3">
                                            <tr>
                                                <td class="tablaSaldos2_bordeR ancho50p bgF0F4F9">
                                                    <span id="t5">Cuenta
                                        </span>
                                                </td>
                                                <td class="ancho50p bgF0F4F9">4143
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tablaSaldos2_bordeR">
                                                    <span id="t6">Periodo
                                        </span>
                                                </td>
                                                <td class='PERIODO'>
                                                    <script>
                                                    $(".PERIODO").html(mesCurr + " " + cyear);
                                                    </script>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <div class="titulo_tabla_at ancho100p">
                                <label id="t7">Resumen del
                                </label>&nbsp;01/12/2015&nbsp;
                                <label id="t8">al
                                </label>&nbsp;17/12/2015
                            </div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="paddingR15 ancho50p" valign="top">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tablaSaldos3 pinta1">
                                            <tr>
                                                <td class="tablaSaldos2_bordeR ancho50p bgF0F4F9">
                                                    <span id="t9">Saldo anterior
                                        </span>
                                                </td>
                                                <td align="letf" class="ancho50p bgF0F4F9" nowrap>$ 6,199.40
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tablaSaldos2_bordeR">
                                                    <span id="t10">Dep&oacute;sitos 
                                        </span>
                                                    <span>(0)
                                        </span>
                                                </td>
                                                <td align="letf" nowrap>$ 0.00
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tablaSaldos2_bordeR ancho50p bgF0F4F9">
                                                    <span id="t11">Retiros 
                                        </span>
                                                    <span>(3)
                                        </span>
                                                </td>
                                                <td align="letf" class="ancho50p bgF0F4F9" nowrap>$ 5,850.60
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tablaSaldos2_bordeR">
                                                    <span id="t12">Saldo al
                                        </span>
                                                    <span>17/12/2015
                                        </span>
                                                </td>
                                                <td align="letf" nowrap>$ 348.80
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="paddingL15" valign="top">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tablaSaldos3 pinta1">
                                            <tr>
                                                <td class="tablaSaldos2_bordeR ancho50p bgF0F4F9">
                                                    <span id="t13">Fecha &uacute;ltimo corte
                                        </span>
                                                </td>
                                                <td align="letf" class="ancho50p bgF0F4F9">30/11/2015
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tablaSaldos2_bordeR">
                                                    <span id="t14">Fecha &uacute;ltimo movimiento
                                        </span>
                                                </td>
                                                <td align="letf">11/12/2015
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tablaSaldos2_bordeR ancho50p bgF0F4F9">
                                                    <span id="t15">Importe l&iacute;nea de cr&eacute;dito
                                        </span>
                                                </td>
                                                <td align="letf" class="ancho50p bgF0F4F9 IMPLIN" nowrap>$
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tablaSaldos2_bordeR">
                                                    <span id="t16">Saldo l&iacute;nea de cr&eacute;dito
                                        </span>
                                                </td>
                                                <td align="letf" class='SALLIN' nowrap>$
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tablaSaldos2_bordeR ancho50p bgF0F4F9">
                                                    <span id="t17">Disponible l&iacute;nea de cr&eacute;dito
                                        </span>
                                                </td>
                                                <td align="letf" class="ancho50p bgF0F4F9 DISPLIN" nowrap>$
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td valign="top" class="ancho10 bordesDe1">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td valign="bottom" class="ancho10">
                        <div class="saldos_bordeSupIz2c_a">
                        </div>
                    </td>
                    <td class="bordeSupCe2c_a">&nbsp;
                    </td>
                    <td valign="bottom" class="ancho10">
                        <div class="saldos_bordeInfDe2c_a">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="saldos_bloque3">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" class="ancho10">
                        <div class="saldos_bordeSupIz2b_a">
                        </div>
                    </td>
                    <td class="bordeSupCe2b_a">&nbsp;
                    </td>
                    <td valign="top" class="ancho10">
                        <div class="saldos_bordeSupDe2b_a">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="ancho10 bordesIz1">&nbsp;
                    </td>
                    <td class="paddingB10 paddingL10 paddingT5 paddingR10">
                        <div class="panelIzEnca3_text2 overflow">
                            <div class="floatL panelIzEnca3_text2" id="t18">Detalle de movimientos - Dep&oacute;sitos y retiros
                            </div>
                            <style type="text/css" media="print,screen">
                            th {
                                font-family: Arial;
                                color: black;
                                background-color: lightgrey;
                            }
                            
                            thead {
                                display: table-header-group;
                            }
                            
                            tbody {
                                display: table-row-group;
                            }
                            </style>
                            <div class="saldos_bloque2 paddingB10">
                                <table class='pinta2 tablaSaldos3' width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <THEAD>
                                        <tr>
                                            <td>
                                                <div class="floatL paddingT5 f11 negrita color000">Fecha
                                                </div>
                                            </td>
                                            <td>
                                                <div class="floatL paddingT5 f11 negrita color000">Descripci&oacute;n
                                                </div>
                                            </td>
                                            <td>
                                                <div class="floatL paddingT5 f11 negrita color000">Dep&oacute;sitos
                                                </div>
                                            </td>
                                            <td>
                                                <div class="floatL paddingT5 f11 negrita color000">Retiros
                                                </div>
                                            </td>
                                            <td>
                                                <div class="floatL paddingT5 f11 negrita color000">Saldo
                                                </div>
                                            </td>
                                        </tr>
                                    </THEAD>
                                    <tr>
                                        <td>03/12/2015
                                        </td>
                                        <td style='width: 600px'>DOMI 0006635140 C. HIPOTECARIO 0006635140 00002447
                                        </td>
                                        <td>&nbsp;
                                        </td>
                                        <td>5,398.20
                                        </td>
                                        <td>801.20
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>11/12/2015
                                        </td>
                                        <td style='width: 600px'>COMISION 63737 PAQUETE PYME N 0000063737 00083294
                                        </td>
                                        <td>&nbsp;
                                        </td>
                                        <td>390.00
                                        </td>
                                        <td>411.20
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>11/12/2015
                                        </td>
                                        <td style='width: 600px'>IVA COMISION 63737 0000063737 00083294
                                        </td>
                                        <td>&nbsp;
                                        </td>
                                        <td>62.40
                                        </td>
                                        <td>348.80
                                        </td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">DEPOSITO EN EFECTIV SUC. LAS TORRES, CHI 0000000000 00724642 </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">6,000.00</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">&nbsp;</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">6,050.00</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(255, 255, 255);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(255, 255, 255);">PAGO DE SERVICIO 82962 A CR 000002474 0000082962 00082962 </td>
                                        <td style="font-size: 8pt; background-color: rgb(255, 255, 255);">&nbsp;</td>
                                        <td style="font-size: 8pt; background-color: rgb(255, 255, 255);">5,398.20</td>
                                        <td style="font-size: 8pt; background-color: rgb(255, 255, 255);">651.80</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">12/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">COMISION 29627 PAQUETE PYME O 0000029627 00083759 </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">&nbsp;</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">390.00</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">261.80</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(255, 255, 255);">12/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(255, 255, 255);">IVA COMISION 29627 0000029627 00083759 </td>
                                        <td style="font-size: 8pt; background-color: rgb(255, 255, 255);">&nbsp;</td>
                                        <td style="font-size: 8pt; background-color: rgb(255, 255, 255);">62.40</td>
                                        <td style="font-size: 8pt; background-color: rgb(255, 255, 255);">199.40</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">30/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">DEPOSITO EN EFECTIV SUC. ZARAGOZA, CHIH. 0000000000 00580385 </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">6,000.00</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">&nbsp;</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">6,199.40</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">ABONO DEP ELEC N L 67045 </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">DISP ATM BTE </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">DEPOSITO DE CUENTA DE TERCEROS0000000000 DE LA CUENTA 0687358599 coffe </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">PAGO DE IVA 074227045 </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">PAGO DE CAPITAL 074227045 </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">MOBO SENDERO LA TORRES RFC:DCZ 010126SB1 </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">ABONO DEP ELEC N L 67045 </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">ABONO DEP ELEC N L 67045 </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">REST CENTAURO DEL NORT RFC:AOCN690527HT3 </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">REST CENTAURO DEL NORT RFC:AOCN690527HT3 </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">CARGO POR PAGO CONCENTRACION BXI TARJETA DE CRED 4772133000176807 AL RFC BMN930209927 RAS 85025348040947000165 FAC 000165 </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">70 0GH62555 950785 FORA0000000429 CARGO COBRANZA DOMICILIADA LEYENDA:70 0GH62555 950785 FORAUTPARTCAT REF:70 010GH62555 3 0GH1 0 POL62555 SEGUROS BANORTE SA DE CV GRUPO FINANCIER RFC: SBG 971124PL2 IVA: 0000000000000.00 </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">REST CENTAURO DEL NORT RFC:AOCN690527HT3 </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">TORTAS EL AMIGO MILO RFC:COSC680618ITA </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">ABONO DEP ELEC N L 67045 </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">DISP ATM BTE </td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">ABONO DEP ELEC N L 67045</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">DENNYS RFC:PRN 000324UY2</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">REST CENTAURO DEL NORT RFC:AOCN690527HT3</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">DISP ATM BTE</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">70 0GH62555 950784 FORA0000000430 CARGO COBRANZA DOMICILIADA LEYENDA:70 0GH62555 950784 FORAUTPARTCAT REF:70 010GH62555 3 0GH1 0 POL62555 SEGUROS BANORTE SA DE CV GRUPO FINANCIER RFC: SBG 971124PL2 IVA: 0000000000000.00</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">085902511134332158 SPEI RECIBIDO DEL BANCO 0002 BANAMEX DEL CLIENTE JOSE JAIME FIGUEROA BARRIOS DE LA CLABE 002164449200989138 CON RFC FIBJ840206IW8 CONCEPTO: SEGUNDA PARTE DE PAGO SERVER CUPN REFERENCIA: 0000002 CVE RAST: 085902511134332158</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">CINEPOLIS DULCERIA RFC:CME 981208VE4</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">TELCEL JUAREZ 1 RFC:RDI 841003QJ4</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">NETFLIX RFC:NME 110513PI3</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">COMPRA ORDEN DE PAGO SPEI 0000151125 = REFERENCIA CTA/CLABE: 044164226056934039 BXI SPEI, BCO:044 BENEFICIARIO:Cintya Hernandez CA2 site CVE RASTREO: 8502APAC201511250293423683 RFC: No capturado IVA: 000000000000.00 SCOTIABANK</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">PAGO EFECTIVO</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                    <tr style="font-size: 8pt;">
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">05/11/2015</td>
                                        <td style="width: 600px; font-size: 8pt; background-color: rgb(240, 244, 249);">descripcion</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">deposito</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">retiro</td>
                                        <td style="font-size: 8pt; background-color: rgb(240, 244, 249);">saldo</td>
                                    </tr>
                                </table>
                            </div>
                    </td>
                    <td valign='top' class='ancho10 bordesDe1'>&nbsp;
                    </td>
                </tr>
                <tr>
                    <td valign='bottom' class='ancho10'>
                        <div class='saldos_bordeSupIz2c_a'>
                        </div>
                    </td>
                    <td class='bordeSupCe2c_a'>&nbsp;
                    </td>
                    <td valign='bottom' class='ancho10'>
                        <div class='saldos_bordeInfDe2c_a'>
                        </div>
                    </td>
                </tr>
            </table>
            </div>
        </div>
        </br>
        <input style='display:none' type='button' value='Cerrar' class='inputBtn4 CerrarVentanaEmergente floatL noButton' id='cerrarFiltrado();' onclick='window.close();' />
    </div>
    <input style='display:none' type='button' value='Imprimir' class='inputBtn2 CerrarVentanaEmergente floatR noButton' style='margin-right:50px;' onclick='window.print();' />
    <div class='contenedorBanamexImpresion'>
        <div align=Center style='color:#666666;'>"Este documento es s&oacute;lo de car&aacute;cter informativo, no tiene validez oficial como comprobante legal o fiscal"
        </div>
        </br>
        <input type='button' value='Cerrar' class='inputBtn4 CerrarVentanaEmergente floatL noButton' id='cerrarFiltrado();' onclick='window.close();' />
    </div>
    <input type='button' value='Imprimir' class='inputBtn2 CerrarVentanaEmergente floatR noButton' style='margin-right:50px;' onclick='window.print();' />
    </div>
    </div>
    </br>
    </br>
    <div style='margin-left:60px; margin-right:60px;' class='noButton'>
        <div class='contenedorpie1'>000000000000000000000000000000000000000000000000000000000000
        </div>
        <div class='floatL f11 paddingB10'>
            </br>
        </div>
        <div class='contenedorPie2_ligas2 paddingT0 paddingL0'>
            <a href='#' class='f11'>
            </a>
        </div>
    </div>
    </div>
</body>

</html>
