<div class="mainContainer aerospace" style="background-color:#f5f5f5;">
    <div class="row headerImage">
        <img src="images/products/Switch-Page-Header-31-Custom-1170x353.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1>Product Information</h1>
                <p>
                    Capsonic designs, tests and manufactures many types of electrical switches, both contact and non-contact, for use in vehicle/aircraft interiors and vehicle exterior/underhood interfaces. Some of our products are developed for hidden use in subsystems to provide control feedback.
                </p>
                <p>
                    <b>Switch Product Technologies</b>
                </p>
                <ul>
                    <li>Low Current &amp; High Current</li>
                    <ul>
                        <li>Contact</li>
                        <li>Non-Contact</li>
                        <li>Capacitive</li>
                        <li>Magnetic</li>
                    </ul>
                    <li>Micro-Switch &amp; Tact Switch</li>
                    <ul>
                        <li>Contact &amp; Non-Contact</li>
                    </ul>
                    <li>Switch Cell technology</li>
                    <li>Class A Decorative Surface Processing</li>
                    <li>Backlighting</li>
                    <li>Ergonomic &amp; Hidden</li>
                    <li>PCB-Based Switches &amp; Contacts</li>
                </ul>
                <br>
                <p><b>Process Capabilities</b></p>
                <p>
                </p>
                <ul>
                    <li>Laser Etching; Negative Contrast &amp; Etch thru Chrome technologies available via outside partners</li>
                    <li>Pad Printing – Multiple Hit; various Z-Axis placements</li>
                    <li>100% Electrical Testing of every internal line; Force/Displacement Testing; Make/Break Testing</li>
                    <li>Soldering &amp; PCB Processing – No Clean &amp; Lead-Free Solder; PCB Cleaning; RoHS Migration</li>
                    <li>Solderless Connection Technology</li>
                    <li>Insert Molding</li>
                    <li>Full Design &amp; Development: Concept, Prototype, Validation Testing, Tooling, Production Verification, Continued Conformance</li>
                </ul>
            </div>
            <div class="col-sm-5">
                <h1>Switches</h1>
                <div style="background-color: #D9D9D9; padding: 20px;">
                    <b>Sub-system Applications</b>
                    <p>with examples of Capsonic product usage:</p>
                    <div style="border: 3px solid #92B25C; padding: 20px">
                        <p style="font-size: 20px;"><b>Auto:</b>
                            <img ng-src="images/products/car2.png" alt="Automotive" width="42" height="42">
                        </p>
                        <ul>
                            <li>Steering Column, Steering Wheel &amp; Column Shifter</li>
                            <ul>
                                <li>Multifunction, Tilt &amp; Telescope, Cruise Control, Direction Indicator, Electronic Shift, Overdrive Control, Park Shift Position, Horn</li>
                            </ul>
                            <li>Instrument Panel &amp; Center Console</li>
                            <ul>
                                <li>Headlamp, Fog Lamp, Ignition, Power Pedal Adjust, Transmission Selection, Overdrive</li>
                                <li>Control, 4x4 Control, Hazard, Display Menu Control</li>
                            </ul>
                            <li>Overhead Console</li>
                            <ul>
                                <li>Lighting Control</li>
                            </ul>
                            <li>Seat</li>
                            <ul>
                                <li>Seat Position (up to 10-way), Memory Position, Occupant presence</li>
                            </ul>
                            <li>Door</li>
                            <ul>
                                <li>Window Lift, Door Lock, Mirror Control</li>
                                <li>Power Sliding Door Switch &amp; Contacts</li>
                            </ul>
                            <li>Engine</li>
                            <ul>
                                <li>Underhood Lighting Control</li>
                            </ul>
                        </ul>
                    </div>
                    <p>&nbsp;</p>
                    <div style="border: 3px solid #FF7F0F;padding: 20px;">
                        <p style="font-size: 20px;"><b>Aero:</b>
                            <img ng-src="images/products/plane8.gif" alt="Aerospace" width="42" height="42">
                        </p>
                        <ul>
                            <li>Aircraft Galley</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12">
                <light-gallery>
                    <a ng-href="images/products/switches/Multi-function-Switches-3.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Multi Function Switch</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/switches/Multi-function-Switches-3-170x200.jpg" />
                    </a>
                    <a ng-href="images/products/switches/Toggle-Switches.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Toggle Switch</p>">
                        <img style="width:100%;height:auto;" ng-src="images/products/switches/Toggle-Switches-170x200.jpg" />
                    </a>
                </light-gallery>
            </div>
        </div>
        <h2>Categories</h2>
        <div class="row ProductCategories" style="margin-top:20px;">
            <div class="col-sm-12">
                <div id="accordion">
                    <h3>Brake Switch</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/switches/BrakeSwitch/Brake-Switch.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Brake Switch</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/BrakeSwitch/Brake-Switch-150x150.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                    <h3>Instrument Panel &amp; Ergonomic Interior Switches</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/switches/InstrumentPanelAndErgonomicInterior/Instrument-Panel-Switch.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Instrument Panel Switch</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/InstrumentPanelAndErgonomicInterior/Instrument-Panel-Switch-150x150.jpg" />
                            </a>
                            <a ng-href="images/products/switches/InstrumentPanelAndErgonomicInterior/Interior-Switch-Lighting.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Interior Switch Lighting</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/InstrumentPanelAndErgonomicInterior/Interior-Switch-Lighting-150x150.jpg" />
                            </a>
                            <a ng-href="images/products/switches/InstrumentPanelAndErgonomicInterior/Interior-Switch-Seat-Control.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Interior Switch Seat Control</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/InstrumentPanelAndErgonomicInterior/Interior-Switch-Seat-Control-150x150.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                    <h3>Power Sliding Door Switch</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/switches/PowerSlidingDoorSwitch/Wire-Connection-Product-Ford-contacts.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Wire Connection Product Ford Contacts</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/PowerSlidingDoorSwitch/Wire-Connection-Product-Ford-contacts-150x150.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                    <h3>Steering Wheel &amp; Column Switches</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/switches/SteeringWheelAndColumnSwitches/Cruise-Control.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Cruise Control</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/SteeringWheelAndColumnSwitches/Cruise-Control (Custom).jpg" />
                            </a>
                            <a ng-href="images/products/switches/SteeringWheelAndColumnSwitches/Multifunction-Switch-Assembly-and-Wire-Harness-Speed-Control-and-Wiper-Wash-3.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Multifunction Switch Assembly and Wire Harness Speed Control And Wiper Wash 3</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/SteeringWheelAndColumnSwitches/Multifunction-Switch-Assembly-and-Wire-Harness-Speed-Control-and-Wiper-Wash-3 - Copy.jpg" />
                            </a>
                            <a ng-href="images/products/switches/SteeringWheelAndColumnSwitches/Multifunction-Switch-Assembly-Chrysler-Wiper-Wash.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Multifunction Switch Assembly Chrysler Wiper Wash</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/SteeringWheelAndColumnSwitches/Multifunction-Switch-Assembly-Chrysler-Wiper-Wash-small.jpg" />
                            </a>
                            <a ng-href="images/products/switches/SteeringWheelAndColumnSwitches/Multifunction-Switch-Assembly-Wiper-Wash-and-Hazard-Light-Assembly-1.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Multifunction Switch Assembly Wiper Wash and Hazard Light Assembly 1</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/SteeringWheelAndColumnSwitches/Multifunction-Switch-Assembly-Wiper-Wash-and-Hazard-Light-Assembly-1 - small.jpg" />
                            </a>
                            <a ng-href="images/products/switches/SteeringWheelAndColumnSwitches/Multifunction-Switch-Assembly.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Multifunction Switch Assembly</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/SteeringWheelAndColumnSwitches/Multifunction-Switch-Assembly - small.jpg" />
                            </a>
                            <a ng-href="images/products/switches/SteeringWheelAndColumnSwitches/P221.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>P221</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/SteeringWheelAndColumnSwitches/P221-150x150.jpg" />
                            </a>
                            <a ng-href="images/products/switches/SteeringWheelAndColumnSwitches/Toggle-Switch-Steering-Column-Tilt-and-Telescope-and-Foot-Pedal-Adjustment-Switch-2.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Toggle Switch Steering Column Tilt and Telescope and Foot Pedal Adjustment Switch 2</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/SteeringWheelAndColumnSwitches/Toggle-Switch-Steering-Column-Tilt-and-Telescope-and-Foot-Pedal-Adjustment-Switch-2-150x150.jpg" />
                            </a>
                            <a ng-href="images/products/switches/SteeringWheelAndColumnSwitches/Toggle-Switches.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Toggle Switches</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/SteeringWheelAndColumnSwitches/Toggle-Switches-150x150.jpg" />
                            </a>
                            <a ng-href="images/products/switches/SteeringWheelAndColumnSwitches/Turn-Signal-Switch-Integral-Column.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Turn Signal Switch Integral Column</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/SteeringWheelAndColumnSwitches/Turn-Signal-Switch-Integral-Column-150x150.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                    <h3>Transmission Control Switches</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/switches/TransmissionControlSwitches/Shift-lever-mounted-transmission-selection-switch-assembly.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Shift Lever Mounted Transmission Selection Switch Assembly</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/TransmissionControlSwitches/Shift-lever-mounted-transmission-selection-switch-assembly-150x150.jpg" />
                            </a>
                            <a ng-href="images/products/switches/TransmissionControlSwitches/Shift-lever-mounted-transmission-selection-switch-design-1.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Shift Lever Mounted Transmission Selection Switch Design 1</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/TransmissionControlSwitches/Shift-lever-mounted-transmission-selection-switch-design-1-150x150.jpg" />
                            </a>
                            <a ng-href="images/products/switches/TransmissionControlSwitches/Shift-lever-mounted-transmission-selection-switch-design-2.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Shift Lever Mounted Transmission Selection Switch Design 2</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/TransmissionControlSwitches/Shift-lever-mounted-transmission-selection-switch-design-2-150x150.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                    <h3>Other Switch Products</h3>
                    <div style="height:100%;">
                        <light-gallery>
                            <a ng-href="images/products/switches/OtherSwitchProducts/101_2916.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>101_2916</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/OtherSwitchProducts/101_2916-150x150.jpg" />
                            </a>
                            <a ng-href="images/products/switches/OtherSwitchProducts/101_2962.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>101_2962</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/OtherSwitchProducts/101_2962-150x150.jpg" />
                            </a>
                            <a ng-href="images/products/switches/OtherSwitchProducts/Door-entry-code-switch-and-wire-harness-assembly-3.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>DOOR ENTRY CODE SWITCH AND WIRE HARNESS ASSEMBLY</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/OtherSwitchProducts/Door-entry-code-switch-and-wire-harness-assembly-3-150x150.jpg" />
                            </a>
                            <a ng-href="images/products/switches/OtherSwitchProducts/Generic-Toggle-Switches.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>Generic Toggle Switches</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/OtherSwitchProducts/Generic-Toggle-Switches-150x150.jpg" />
                            </a>
                            <a ng-href="images/products/switches/OtherSwitchProducts/Low-Current-Tactile-Switch-Cell.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>LOW CURRENT TACTILE SWITCH CELL 2</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/OtherSwitchProducts/Low-Current-Tactile-Switch-Cell-2 (Custom).jpg" />
                            </a>
                            <a ng-href="images/products/switches/OtherSwitchProducts/Low-Current-Tactile-Switch-Cell-2-150x150.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>LOW CURRENT TACTILE SWITCH CELL 2</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/OtherSwitchProducts/Low-Current-Tactile-Switch-Cell-150x150.jpg" />
                            </a>
                            <a ng-href="images/products/switches/OtherSwitchProducts/Micro-switch-3.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>LOW CURRENT TACTILE SWITCH CELL 2</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/OtherSwitchProducts/Micro-switch-3-150x150.jpg" />
                            </a>
                            <a ng-href="images/products/switches/OtherSwitchProducts/Seat-Switch-for-John-Deere-4.jpg" class="col-sm-2 col-xs-6 hvr-border-fade" style="padding:5px;" data-sub-html="<p>LOW CURRENT TACTILE SWITCH CELL 2</p>">
                                <img style="width:100%;height:auto;" ng-src="images/products/switches/OtherSwitchProducts/Seat-Switch-for-John-Deere-4-150x150.jpg" />
                            </a>
                        </light-gallery>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
