<div class="mainContainer alliances" style="background-color:#F5F5F5;">
    <div class="row headerImage">
        <img src="images/valueStream/Alliances-Header-Custom-1170x353.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Capsonic Alliances</h1>
                <p>
                    <strong>Capsonic</strong> has formed an Alliance with <b>BGM Engineering</b> to broadly expand technical design capabilities to include all aspects of Electronic Design and Integration.
                </p>
                <p>
                    BGM maintains Engineering Design Staff, CAD/CAE systems for Analysis, full laboratory for Product test and assessment, prototype capabilities, and supply tier technology partners for Advance development of new electronic technologies.
                </p>
                <p>
                    <strong>Capsonic</strong> and <strong>BGM</strong> will act as one Design and Product Supply entity so to provide <strong>SINGLE SUPPLY</strong> Solution to customers for ALL Types of Sub-System &amp; Assembly products.
                </p>
                <p>
                    <a href="http://bgmengineering.net/" target="_blank"><img class ng-src="images/alliances/LOGO2.gif" alt="LOGO2" width="168" height="168"></a>
                </p>
            </div>
        </div>
    </div>
</div>
