<div class="mainContainer valueStream" style="background-color:#F5F5F5;">
    <div class="row headerImage">
        <img src="images/valueStream/Value-Stream-Header-1-Custom-1170x353.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Value Stream</h1>
                <h4>Capsonic Value Stream</h4>
                <p>
                    From raw material procurement to design collaboration, Capsonic’s Value Stream is a strong strategic input to the overall success of Capsonic and we take our supplier selection very seriously. Each supplier goes through a rigorous selection process by our Purchasing Team and Supplier Quality Engineers prior to being accepted as a supplier. Capsonic seeks value stream partners that follow the same stringent quality control measures and management philosophy that Capsonic follows. This means deliveries at 95% OTIF or better, quality metrics at 0 PPM, and relationships focusing on innovation, efficient use of resources and continuous improvement, challenging each other to strive for better.
                </p>
                <p style="float: right;">
                    <a ng-href="#/valueStream_supplier" style="color: #333;"><i>If you are interested in learning more about becoming a supplier, please click here for more information.</i></a>
                </p>
                <br>
                <br>
                <br>
                <h3 style="font-size:13px;">GENERAL INQUIRY CONTACT</h3>
                <p><strong>Phone:</strong> 248-754-1100
                    <br>
                    <strong>Email:</strong> CA2@capsonic.com</p>
                <h4>
                <a ng-href="#/terms_conditions" style="color:#333;">Terms &amp; Conditions (T&amp;Cs)</a>
                </h4>
                <h4>
                <a href="files/REV. 12 - 25 mayo 2017 -  Capsonic-Supplier-Manual.pdf" style="color: #333;" target="_blank">Supplier Quality Manual</a>
                </h4>
                <h4>Jade Login (B2B Interface for Suppliers)</h4>
                <form style="border: medium solid #000000; padding:10px;min-width:300px;" class="col-sm-4 col-xs-12 well" action="https://cjm7cu4m.jadeinnovations.com/login.php" method="post" name="loginForm">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" colspan="2">JADE Innovations, Inc. v2.0 Login</td>
                            </tr>
                            <tr>
                                <td>Username:</td>
                                <td>
                                    <input name="username" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td>
                                    <input name="password" type="password">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><a href="https://cjm7cu4m.jadeinnovations.com/forgotPassword.php">Forget your password?</a></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input name="login" type="submit" value="login">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
