<style type="text/css">
.panel {
    background-color: #F5F5F5;
}

.panel-heading:hover {
    background-color: #bcbcbc;
}

.panel-heading {
    border: 1px solid #E5E5E5;
}

#accordion .container-fluid {
    border: 1px solid #E5E5E5;
}

.ui-accordion-header-active {
    color: #cd2122 !important;
}
</style>
<div class="mainContainer valueStream" style="background-color:#F5F5F5;padding-bottom: 0;">
    <div class="row headerImage">
        <img src="images/valueStream/Supplier-Development-Header-2-Custom-1170x353.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Supplier Development</h1>
                <p>
                    Whether you are a current supplier or have yet to begin the supplier selection process, this page can be a helpful resource to get you connected to Capsonic. On this page you will find our Purchase Order Terms and Conditions, a link to JADE (our B2B Supplier Portal), and contact phone numbers for each commodity buyer. Thank you for taking the time to learn more about supplier opportunities within Capsonic Companies.
                </p>
                <p>
                    What you can expect from Capsonic as a member of our value stream:
                </p>
                <ul class="templateList">
                    <li>Open communication between Capsonic and suppliers, early and frequent in program development, launch and production stages</li>
                    <li>Solid performance feedback, measured consistently and fairly among a level playing field for each commodity</li>
                    <li>Rewarding of excellence in supplier performance</li>
                    <li>Willingness to work together toward our common commercial goals of strengthening market position and profitability within target industries in the global marketplace</li>
                    <li>A single point of interface for:
                        <ul>
                            <li>Order Entry</li>
                            <li>Scheduling</li>
                            <li>ASNs</li>
                            <li>Quality</li>
                            <li>Supplier Ratings</li>
                        </ul>
                    </li>
                </ul>
                <p>Capsonic strives to raise the bar in industry competitiveness, both in innovation and efficiency, and our supply base is an integral part in accomplishing that goal. The following are expectations we have of our value stream in order to stay competitive and ahead of industry standards:</p>
                <ul class="templateList">
                    <li>On-time and defect-free new product launches</li>
                    <li>100 percent on-time delivery for production orders</li>
                    <li>Zero defect plans</li>
                    <li>Year-over-year piece price reductions</li>
                    <li>Proactive participation in program reviews and launch meetings</li>
                    <li>EDI (Electronic Data Interchange) capabilities</li>
                    <li>Compliance in using JADE (electronic ordering system) and CQS (Capsonic quoting system)</li>
                    <li>Open idea sharing in design, manufacturing, and overall program affordability improvements</li>
                </ul>
                <br>
                <br>
                <br>
                <h3 style="font-size:13px;">GENERAL INQUIRY CONTACT</h3>
                <p><strong>Phone:</strong> 248-754-1100
                    <br>
                    <strong>Email:</strong> CA2@capsonic.com</p>
                <h4>
                <a ng-href="#/terms_conditions" style="color:#333;">Terms &amp; Conditions (T&amp;Cs)</a>
                </h4>
                <h4>
                <a href="files/REV. 12 - 25 mayo 2017 -  Capsonic-Supplier-Manual.pdf" style="color: #333;" target="_blank">Supplier Quality Manual</a>
                </h4>
                <h4>Jade Login (B2B Interface for Suppliers)</h4>
                <form style="border: medium solid #000000; padding:10px;min-width:300px;" class="col-sm-4 col-xs-12 well" action="https://cjm7cu4m.jadeinnovations.com/login.php" method="post" name="loginForm">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" colspan="2">JADE Innovations, Inc. v2.0 Login</td>
                            </tr>
                            <tr>
                                <td>Username:</td>
                                <td>
                                    <input name="username" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td>
                                    <input name="password" type="password">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><a href="https://cjm7cu4m.jadeinnovations.com/forgotPassword.php">Forget your password?</a></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input name="login" type="submit" value="login">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #EBEBEB;">
        <div class="container" style="padding-top: 20px;">
            <h3>LIST OF CONTACTS BY COMMODITY/FUNCTION</h3>
            <div class="row">
                <div class="col-xs-12">
                    <div id="accordion" class="panel panel-default">
                        <h3 class="panel-default panel-heading">Purchasing Manager</h3>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-4 col-sm-3">
                                    <label>Josue Mejia</label>
                                    <p>Purchasing Manager</p>
                                    <p>915-872-3539</p>
                                </div>
                            </div>
                        </div>
                        <h3 class="panel-default panel-heading">Aerospace</h3>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-4 col-sm-3">
                                    <label>Michelle Zamora</label>
                                    <p>Aerospace - Buyer / Program Manager</p>
                                    <p>915-872-3527</p>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <label>Edna Camargo</label>
                                    <p>Aerospace - Buyer</p>
                                    <p>915-400-2024</p>
                                </div>
                            </div>
                        </div>
                        <h3 class="panel-default panel-heading">Automotive / Agriculture / Industrial</h3>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-4 col-sm-3">
                                    <label>Alejandro Muñoz</label>
                                    <p>Buyer - Production</p>
                                    <p>915-872-3570</p>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <label>Adrian Salcedo</label>
                                    <p>Buyer - Production</p>
                                    <p>915-872-3541</p>
                                </div>
                            </div>
                        </div>
                        <h3 class="panel-default panel-heading">Advanced Purchasing</h3>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-4 col-sm-3">
                                    <label>Gloria Tripp</label>
                                    <p>Senior Buyer - Auburn Hills, MI</p>
                                    <p>248-791-3204</p>
                                </div>
                                <div class="col-xs-4 col-sm-3">
                                    <label>Magdeline White</label>
                                    <p>Senior Buyer - Auburn Hills, MI</p>
                                    <p>248-754-1100</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
